<div  ng-controller="basketController">
    <div ng-show="baskets.all.length > 0">
        <div class="vertical-spacing-twice right-magnet twelve-mobile">
            <h3 class="cell horizontal-margin horizontal-spacing ng-binding"><span class="black-color">Quantité totale :</span>
                <span ng-bind="calculateQuantityOfBasket(baskets)"></span>
            </h3>
            <input type="button" ng-click="checkPrice(baskets)" i18n-value="crre.take.order"
                   ng-disabled="campaign.purse_enabled && !validOrder(baskets)"
                   ng-if="campaign.purse_enabled"/>

            <input type="button" ng-click="checkPrice(baskets)" i18n-value="crre.take.request"
                   ng-disabled="campaign.purse_enabled && !validOrder(baskets)"
                   ng-if="!campaign.purse_enabled"/>
        </div>
        <div class="basket-list">
            <div ng-repeat="basket in baskets.all track by $index" class="row">
                <h1 ng-class="{disabled: equipment.status !== 'DISPONIBLE'} " ng-show="basket.equipment.status !== 'DISPONIBLE'">
<!--                    <i18n ng-show="basket.equipment.status === 'UNAVAILABLE'">crre.UNAVAILABLE</i18n>-->
                    <i18n ng-show="basket.equipment.status === 'EPUISE'">crre.OUT_OF_STOCK</i18n>
                </h1>
                <article class="basket-item twelve cell"
                         ng-class="{ openedOptions: display.equipmentOption[$index], disabled: basket.equipment.status !== 'DISPONIBLE' }">
                    <div class="cell width-40">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="basket.selected"
                                   ng-checked="basket.selected">
                            <span></span>
                        </label>
                    </div>
                    <div class="cell width-100-40">
                        <div class="row article-equipment">
                            <div class="one cell basket-image zero-mobile">
                                <img ng-src="[[basket.equipment.urlcouverture]]"
                                     ng-show="basket.equipment.urlcouverture!==null && basket.equipment.urlcouverture!==undefined "/>
                                <img skin-src="/img/illustrations/pages-default.png"
                                     ng-show="basket.equipment.urlcouverture===null || basket.equipment.urlcouverture===undefined "/>
                            </div>
                            <div class="cell eight">
                                <div class="eleven centered">
                                    <h3>[[basket.equipment.ark]]</h3>
                                    <p ng-bind-html="basket.equipment.description"></p>
                                    <a ng-init="display.equipmentOption[$index] = false"
                                       ng-click="displayOptions($index)"
                                       ng-show="basket.options.length > 0">
                                        [[lang.translate(
                                        display.equipmentOption[$index]
                                        ? 'crre.options.hide'
                                        :'crre.options.show'
                                        )]]
                                    </a>
                                </div>
                            </div>
                            <div class="three cell text-right">
                                <div class="vertical-spacing-twice price-field">
                                    <h4 ng-if="basket.equipment.type !== 'articlenumerique'"class="cell"><i18n>etablissement.price</i18n></h4>
                                    <h3 ng-if="basket.equipment.type !== 'articlenumerique'" class="right-text">[[priceDisplay(basket) | currency]]<i18n>per.student.per.year</i18n></h3>
                                    <div class="quantity">
                                        <h4 class="cell" style="margin-left: 94px;"><i18n>crre.quantity</i18n></h4>
                                        <div class="right-text">
                                            <i class="moins" ng-click="basket.amountDecrease()"></i>
                                            <input type="number"
                                                   step="1"
                                                   min="0"
                                                   ng-keypress="avoidDecimals($event)"
                                                   class="numberWithoutArrow two"
                                                   ng-model="basket.amount"/>
                                            <i class="plus" ng-click="basket.amountIncrease()"></i>
                                        </div>
                                    </div>
                                    <div class="right-text">
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="basket.reassort"
                                                   ng-checked="basket.reassort" ng-click="basket.updateReassort()"
                                                   ng-disabled="!canUpdateReassort()">
                                            <span><i18n>&nbsp;&nbsp;&nbsp;crre.reassort</i18n></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="basket.options.length > 0 && display.equipmentOption[$index]">
                            <div class="twelve row">
                                <h4 class="cell">
                                    <i18n>crre.options</i18n>
                                    :
                                </h4>
                            </div>
                            <table class="twelve vertical-spacing option-table">
                                <thead>
                                <tr>
                                    <td>
                                        <i18n>price</i18n>
                                    </td>
                                    <td>
                                        <i18n>crre.quantity</i18n>
                                    </td>
                                    <td>
                                        <i18n>price</i18n>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="option in basket.options">
                                    <td>[[option.name]]</td>
                                    <td>[[option.amount]]</td>
                                    <td><span
                                            ng-bind="calculatePriceTTC(option.price, option.tax_amount, 2) | currency"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row twelve vertical-spacing-four" ng-if="basket.equipment.file === true">
                            <div class="twelve row">
                                <h4 class="cell">
                                    <i18n>crre.basket.file.name</i18n>
                                    :
                                </h4>
                                <button class="right-magnet" ng-click="openAddDocumentsLightbox(basket)">
                                    <i18n>crre.basket.add-file</i18n>
                                </button>
                            </div>
                            <p ng-if="basket.files.length === 0">
                                <i18n>crre.basket.no-file</i18n>
                            </p>
                            <div class="row basket-file-list"
                                 ng-if="basket.files.length > 0">
                                <ul class="twelve">
                                    <li ng-repeat="file in basket.files" class="twelve basket-file row">
                                        <a class="cell eleven" ng-click="basket.downloadFile(file)">[[ file.name ||
                                            file.filename ]]</a>
                                        <i class="cell one text-right"
                                           ng-class="{ close: file.status !== 'loading', loading: file.status === 'loading'}"
                                           ng-click="deleteBasketDocument(basket, file)"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="twelve cell commentDelete">
                            <div class="row" ng-init="basket.commentOnEdition = false;">
                                <span ng-if="(basket.comment === null || basket.comment.trim() === '') && !basket.commentOnEdition"
                                        style="font-style: italic">
                                    <i18n>crre.basket.no-comment</i18n>
                                </span>
                                <span ng-if="basket.comment !== null && !basket.commentOnEdition"
                                   ng-click="basket.commentOnEdition = true" tooltip="Modifier le commentaire">
                                    [[basket.comment]]
                                </span>
                                <textarea style="resize: none;" ng-model="basket.comment"
                                          auto-height
                                          ng-if="basket.commentOnEdition"
                                          ng-blur="basket.commentOnEdition = false; updateBasketComment(basket)"></textarea>
                            </div>
                            <div class="row addComment">
                                <span ng-if="basket.comment === null || basket.comment===''"
                                        ng-click="basket.commentOnEdition = true">
                                    <i18n>crre.basket.add-comment</i18n>
                                </span>
                                <span ng-if="basket.comment && basket.comment!=='' && !basket.commentOnEdition"
                                        ng-click="basket.commentOnEdition = true">
                                    <i18n>crre.update.comment</i18n>
                                </span>
                                <div class="cell right-magnet">
                                    <input type="button" ng-click="displayLightboxDelete(basket)"
                                           class="right-magnet cancel" i18n-value="delete"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div ng-show="baskets.all.length === 0" class=" row cell centered empty-basket-message">
        <div class="cell twelve-mobile centered-text">
            <img src="/crre/public/img/basket.png" />
        </div>
        <div class="cell centered-text four twelve-mobile" >
            <h4><i18n>crre.info.empty.basket</i18n></h4>
        </div>
    </div>
    <lightbox show="display.lightbox.deleteBasket" on-close="cancelBasketDelete()">
        <container template="basket.delete"></container>
    </lightbox>

    <lightbox show="display.lightbox.confirmOrder" on-close="cancelConfirmOrder()">
        <container template="basket.order"></container>
    </lightbox>

    <lightbox show="display.lightbox.confirmbasketName" on-close="cancelConfirmBasketName()">
        <container template="basket.name"></container>
    </lightbox>

    <lightbox show="display.lightbox.addDocuments" on-close="display.lightbox.addDocuments = false">
        <upload-files end="endUpload"
                      upload-uri="'/crre/basket/' + basket.id + '/file'"></upload-files>
    </lightbox>
</div>