button, input[type=button], a.button, input[type=submit], .drop-down-button
label, .drop-down-button.hidden label {
  background: $red;
}

.responsive-table table thead td {
  color: white;
}

.responsive-table table tr {
  color: black;
}

.tabs header:hover, .selected {
  color:$primary !important;
    }
