<div ng-controller="statsController">
    <div class="log-view crre-table" ng-controller="statsStructureController">
        <div class="loading-bar" ng-class="{loading: loadingArrayLogs}"></div>
        <div ng-show="loadingArrayLogs">
            <h1>
                <i18n>crre.loading</i18n>
            </h1>
        </div>

        <div ng-show="!loadingArrayLogs" class="row">
            <h1 class="cell">
                <i18n>crre.statistics</i18n>
            </h1>
        </div>
        <div class="row twelve margin-top-20 vertical-spacing-twice">
            <div class="cell twelve twelve-mobile">
                <button ng-click="statsGlobal()" class="button-nav-stat">
                    <i18n><span class="no-style ng-scope">crre.stat.global</span></i18n>
                </button>
                <button ng-click="statsByStructures()" class="button-nav-stat selected">
                    <i18n><span class="no-style ng-scope">crre.stat.STRUCTURES</span></i18n>
                </button>
            </div>
            <div class="cell three-small margin-top-8 twelve-mobile">
                <div class="search-bar order-search-bar">
                    <i class="search padding-5"></i>
                    <input class="twelve ng-pristine ng-valid ng-empty ng-touched" type="text" ng-model="query_name"
                           ng-keyup="$event.keyCode == 13 ? search(query_name) : null"
                           i18n-placeholder="search.filter.order" placeholder="Rechercher ...">
                </div>
            </div>
            <div class="cell eight twelve-mobile" style="min-width: 1015px; margin-top: 7px;">
                <multi-combo title="[[lang.translate('crre.year')]]"
                             combo-model="years"
                             search-on="name" order-by=""
                             labels="comboLabels" filtered-model="filterChoice.years"
                             max-selected="1"
                             selection-event="getFilter()"
                             class="inline-block three-small horizontal-spacing no-border">
                </multi-combo>
                <multi-combo title="[[lang.translate('public')]]"
                             combo-model="schoolType"
                             search-on="name" order-by="name"
                             labels="comboLabels" filtered-model="filterChoice.schoolType"
                             max-selected="2"
                             selection-event="getFilter()"
                             deselection-event="getFilter()"
                             class="inline-block three-small horizontal-spacing no-border">
                </multi-combo>
                <multi-combo title="[[lang.translate('docsType')]]"
                             combo-model="docsType"
                             search-on="name" order-by="name"
                             labels="comboLabels" filtered-model="filterChoice.docsType"
                             max-selected="2"
                             selection-event="getFilter()"
                             deselection-event="getFilter()"
                             class="inline-block five-small horizontal-spacing no-border">
                </multi-combo>
                <multi-combo title="[[lang.translate('crre.stat.city')]]"
                             combo-model="cities"
                             search-on="name" order-by="name"
                             labels="comboLabels" filtered-model="filterChoice.cities"
                             selection-event="getFilter()"
                             deselection-event="getFilter()"
                             class="inline-block three-small horizontal-spacing no-border">
                </multi-combo>
                <multi-combo title="[[lang.translate('crre.stat.region')]]"
                             combo-model="regions"
                             search-on="name" order-by="name"
                             labels="comboLabels" filtered-model="filterChoice.regions"
                             selection-event="getFilter()"
                             deselection-event="getFilter()"
                             class="inline-block three-small horizontal-spacing no-border">
                </multi-combo>
                <multi-combo title="[[lang.translate('crre.stat.consummation')]]"
                             combo-model="consummation"
                             search-on="name" order-by="order"
                             labels="comboLabels" filtered-model="filterChoice.consummation"
                             selection-event="getFilter()"
                             deselection-event="getFilter()"
                             class="inline-block four-small horizontal-spacing no-border">
                </multi-combo>
            </div>
        </div>
        <div>
            <table class="twelve">
                <thead>
                <tr>
                    <td>
                        <div class="smallTabElem center">
                            <i18n>UAI</i18n>
                        </div>
                    </td>
                    <td>
                        <div class="tabElem center">
                            <i18n>crre.structure</i18n>
                        </div>
                    </td>
                    <td>
                        <div class="smallTabElem center">
                            <i18n>crre.stat.conso</i18n>
                        </div>
                    </td>
                    <td>
                        <div class="smallTabElem center">
                            <i18n>crre.stat.nb_order</i18n>
                        </div>
                    </td>
                    <td>
                        <div class="smallTabElem center">
                            <i18n>crre.stat.nb_ressource</i18n>
                        </div>
                    </td>
                    <td>
                        <div class="smallTabElem center">
                            <i18n>crre.number.licences</i18n>
                        </div>
                    </td>
                    <td>
                        <div class="smallTabElem center">
                            <i18n>crre.stat.dotation</i18n>
                        </div>
                    </td>

                </tr>
                </thead>
                <tbody ng-repeat="structure in statsStructure.all">
                <tr>
                    <td>
                        <div class="smallTabElem center">[[structure.uai]]</div>
                    </td>
                    <td>
                        <div class="tabElem center">[[structure.name]]</div>
                    </td>
                    <td>
                        <div class="smallTabElem center">[[structure.licences.percentage]] %</div>
                    </td>
                    <td>
                        <div class="smallTabElem center">[[structure.orders]]</div>
                    </td>
                    <td>
                        <div class="smallTabElem center">[[structure.ressources]]</div>
                    </td>
                    <td>
                        <div class="smallTabElem center">[[structure.licences.initial_amount]]</div>
                    </td>
                    <td>
                        <div class="smallTabElem center">[[structure.purses.initial_amount]]</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>