<h1><i18n>crre.filters</i18n></h1>
<div class="catalog" style="padding: 0 20%;">
    <div class="row">
        <span style="line-height: 50px;"><i18n>crre.campaigns</i18n></span>
        <button ng-click="initPopUpFilters('showPopUpColumnsCampaign')"
                class="filterButton right-magnet">
            <i class="star-circle"></i>
            <span><i18n>crre.all.campaigns</i18n></span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsCampaign">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsCampaign">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsCampaign}" class="right-magnet columns-popup">
                    <label class="columns-popup-items" ng-repeat="campaign in campaigns">
                        <input type="checkbox" ng-model = "campaign.isChecked" ng-change="getFilter(campaign.campaign, 'campaign')">
                        <span ng-bind="lang.translate(campaign.campaign)"></span>
                    </label>
                </div>
            </div>
        </button>
    </div>
    <div class="row">
        <span style="line-height: 50px;"><i18n>crre.private.public.school</i18n></span>
        <button ng-click="initPopUpFilters('showPopUpColumnsSchool')"
                class="filterButton right-magnet">
            <i class="star-circle"></i>
            <span><i18n>crre.all.schools</i18n></span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsSchool">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsSchool">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsSchool}" class="right-magnet columns-popup">
                    <label class="columns-popup-items" ng-repeat="school in schools">
                        <input type="checkbox" ng-model = "school.isChecked" ng-change="getFilter(school.school, 'school')">
                        <span ng-bind="lang.translate(school.school)"></span>
                    </label>
                </div>
            </div>
        </button>
    </div>
    <div class="row">
        <span style="line-height: 50px;"><i18n>crre.editor.ressource</i18n></span>
        <button ng-click="initPopUpFilters('showPopUpColumnsEditor')"
                class="filterButton right-magnet">
            <i class="star-circle"></i>
            <span><i18n>crre.all.editors</i18n></span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsEditor">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsEditor">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsEditor}" class="right-magnet columns-popup">
                    <label class="columns-popup-items" ng-repeat="editor in editors">
                        <input type="checkbox" ng-model = "editor.isChecked" ng-change="getFilter(editor.editor, 'editor')">
                        <span ng-bind="lang.translate(editor.editor)"></span>
                    </label>
                </div>
            </div>
        </button>
    </div>
    <div class="row">
        <span style="line-height: 50px;"><i18n>crre.diffusor.ressource</i18n></span>
        <button ng-click="initPopUpFilters('showPopUpColumnsDiffusor')"
                class="filterButton right-magnet">
            <i class="star-circle"></i>
            <span><i18n>crre.all.diffusors</i18n></span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsDiffusor">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsDiffusor">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsDiffusor}" class="right-magnet columns-popup">
                    <label class="columns-popup-items" ng-repeat="diffusor in diffusors">
                        <input type="checkbox" ng-model = "diffusor.isChecked" ng-change="getFilter(diffusor.diffusor, 'diffusor')">
                        <span ng-bind="lang.translate(diffusor.diffusor)"></span>
                    </label>
                </div>
            </div>
        </button>
    </div>
    <div class="row">
        <span style="line-height: 50px;"><i18n>crre.request.state</i18n></span>
        <button ng-click="initPopUpFilters('showPopUpColumnsState')"
                class="filterButton right-magnet">
            <i class="star-circle"></i>
            <span><i18n>crre.all.states</i18n></span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsState">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsState">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsState}" class="right-magnet columns-popup">
                    <label class="columns-popup-items" ng-repeat="state in states">
                        <input type="checkbox" ng-model = "state.isChecked" ng-change="getFilter(state.state, 'state')">
                        <span ng-bind="lang.translate(state.state)"></span>
                    </label>
                </div>
            </div>
        </button>
    </div>
</div>