<h1><i18n>crre.filters</i18n></h1>
<div class="catalog" style="padding: 0 15%;">
    <div class="row">
        <span style="line-height: 50px;"><i18n>crre.campaigns</i18n></span>
        <multi-combo title="[[lang.translate('crre.all.campaigns')]]"
                     combo-model="campaigns.all"
                     search-on="name" order-by="campaign"
                     labels="comboLabels" filtered-model="filterChoice.campaigns"
                     selection-event="getFilter()"
                     deselection-event="getFilter()"
                     max-selected="10"
                     class="inline-block seven right-magnet">
        </multi-combo>
    </div>
    <div class="row">
        <span style="line-height: 50px;"><i18n>crre.private.public.school</i18n></span>
        <multi-combo title="[[lang.translate('crre.all.schools')]]"
                     combo-model="schools"
                     search-on="name" order-by="name"
                     labels="comboLabels" filtered-model="filterChoice.schools"
                     selection-event="getFilter()"
                     deselection-event="getFilter()"
                     class="inline-block seven right-magnet">
        </multi-combo>
    </div>
    <div class="row">
        <span style="line-height: 50px;"><i18n>crre.editor.ressource</i18n></span>
        <multi-combo title="[[lang.translate('crre.all.editors')]]"
                     combo-model="equipments.editors"
                     search-on="name" order-by="name"
                     labels="comboLabels" filtered-model="filterChoice.editors"
                     selection-event="getFilter()"
                     deselection-event="getFilter()"
                     max-selected="10"
                     class="inline-block seven right-magnet">
        </multi-combo>
    </div>
    <div class="row">
        <span style="line-height: 50px;"><i18n>crre.diffusor.ressource</i18n></span>
        <multi-combo title="[[lang.translate('crre.all.diffusors')]]"
                     combo-model="equipments.distributeurs"
                     search-on="name" order-by="name"
                     labels="comboLabels" filtered-model="filterChoice.distributeurs"
                     selection-event="getFilter()"
                     deselection-event="getFilter()"
                     max-selected="10"
                     class="inline-block seven right-magnet">
        </multi-combo>
    </div>
    <div class="row">
        <span style="line-height: 50px;"><i18n>crre.licences.types</i18n></span>
        <multi-combo title="[[lang.translate('crre.all.licences')]]"
                     combo-model="licences"
                     search-on="name" order-by="name"
                     labels="comboLabels" filtered-model="filterChoice.licence"
                     selection-event="getFilter()"
                     deselection-event="getFilter()"
                     class="inline-block seven right-magnet">
        </multi-combo>
    </div>
</div>