<div ng-controller="orderController" class="order-client-validation">
    <div class="row margin-top-20">
        <div class="cell two margin-top-8">
            <div class="search-bar order-search-bar">
                <i class="search padding-5"></i>
                <input class="twelve"
                       type="text"
                       ng-keyup=""
                       i18n-placeholder="search.filter.order">
            </div>
        </div>
        <div class="cell twelve-mobile six catalog">
            <button ng-click=""
                    class="filterButton">
                <i class="school"></i>
                <span><i18n>Teachers</i18n></span>
            </button>
            <button ng-click=""
                    class="filterButton">
                <i class="star-circle"></i>
                <span><i18n>All.type</i18n></span>
            </button>
        </div>
        <div class="cell twelve-mobile right-magnet">
            <button ng-click="" class="validate-order"><i18n>crre.take.order.2</i18n></button>
        </div>
    </div>
    <div class="flex-row">
        <table class="twelve-mobile ten">
            <thead>
            <tr>
                <td workflow="crre.validator" class="table-selector main-selector">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-change="switchAllOrders()"
                               ng-model="allOrdersSelected">
                        <span></span>
                    </label>
                </td>
                <!--                <td ng-repeat="field in tableFields "-->
                <!--                    ng-hide="!field.display"-->
                <!--                    ng-click="sort.order.type = field.fieldName; sort.order.reverse = !sort.order.reverse">-->
                <!--                    <div class="smallTabElem">  [[lang.translate(field.name)]] </div>-->
                <!--                    <i class="up-open" ng-show="sort.order.type === field.fieldName && !sort.order.reverse"></i>-->
                <!--                    <i class="down-open" ng-show="sort.order.type === field.fieldName && sort.order.reverse"></i>-->
                <!--                </td>-->
                <td><div class="smallTabElem center"><i18n>crre.equipment.date</i18n></div></td>
                <td><div class="smallTabElem"><i18n>crre.basket</i18n></div></td>
                <td><div class="smallTabElem"><i18n>Owner</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.quantity</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>Total</i18n></div></td>
                <td><div class="smallTabElem"><i18n>comment</i18n></div></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="basket in basketsOrders.all">
                <td workflow="crre.validator" class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="basket.selected">
                        <span></span>
                    </label>
                </td>
                <td><div class="smallTabElem center">[[formatDate(basket.created)]]</div></td>
                <td ><div class="tabElem order">[[basket.name]]</div></td>
                <td><div class="tabElem">[[basket.name_user]]</div></td>
                <td><div class="smallTabElem center"> [[basket.amount]]</div></td>
                <td><div class="smallTabElem center">[[basket.total]]</div></td>
                <td><div class="tabElem"></div></td>
            </tr>
            <tr ng-repeat="order in displayedOrders.all | orderBy:sort.order.type:sort.order.reverse" post-ng-repeat>
                <td workflow="crre.validator" class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="order.selected">
                        <span></span>
                    </label>
                </td>
                <td ng-if="tableFields[0].display"><div class="smallTabElem center">[[order.creation_date]]</div></td>
                <td ng-if="tableFields[1].display"><div class="tabElem order">
                    <img src="[[order.image]]"/><div>[[order.name]]</div>
                </div></td>
                <td ng-if="tableFields[2].display"><div class="tabElem"></div></td>
                <td ng-if="tableFields[3].display"><div class="smallTabElem center"> [[order.amount]]</div></td>
                <td ng-if="tableFields[4].display"><div class="smallTabElem center"><span ng-bind="order.priceTotalTTC | currency"></span></div></td>
                <td ng-if="tableFields[5].display"><div ng-init="tableFields[6].fullDisplay = false"
                                                        class="tabElem"
                                                        ng-class="{ellipsis:!tableFields[6].fullDisplay}"
                                                        ng-click="tableFields[6].fullDisplay = !tableFields[6].fullDisplay"> [[order.comment || '-']]</div></td>

                <td ng-if="tableFields[6].display"><div class="smallTabElem"> [[order.structure.uai]]</div></td>
                <td ng-if="tableFields[7].display"><div class="tabElem"> [[order.structure.name]]</div></td>
                <td ng-if="tableFields[8].display"><div class="tabElem"> [[order.structure.type_etab]]</div></td>
                <td ng-if="tableFields[9].display"><div class="tabElem"> [[order.structure.city]]</div></td>
                <td ng-if="tableFields[10].display"><div class="tabElem"> [[order.campaign.name]]</div></td>
                <td ng-if="tableFields[11].display"><div class="smallTabElem"> [[order.rankOrder]]</div></td>
                <td ng-if="tableFields[12].display"><div class="smallTabElem"><span ng-bind="order.priceUnitedTTC | currency"></span></div></td>
                <td ng-if="tableFields[13].display"><div class="tabElem">
                    <div ng-if="order.files.length > 0" class="twelve">
                        <div ng-repeat="file in order.files" class="twelve basket-file row">
                            <a class="cell twelve" ng-click="order.downloadFile(file)">[[
                                file.name ||
                                file.filename ]]</a>
                        </div>
                    </div>
                </div></td>
                <td ng-if="tableFields[14].display"><div class="tabElem">[[order.contract_type.name]]</div></td>
                <td ng-if="tableFields[15].display"><div class="tabElem">[[order.structure.academy]]</div></td>
                <td ng-if="tableFields[16].display"><div class="smallTabElem">[[order.structure.type]]</div></td>
                <td ng-if="tableFields[17].display"><div class="tabElem">[[order.contract.name]]</div></td>
                <td ng-if="tableFields[18].display"><div class="tabElem">[[order.project.title.name.toString() ]]</div></td>
                <td ng-if="tableFields[19].display"><div class="tabElem">[[getStructureGroupsList(order.structure_groups)]]</div></td>
                <td ng-if="tableFields[20].display"><div class="smallTabElem">[[order.project.room || '-']]</div></td>
                <td ng-if="tableFields[21].display"><div class="smallTabElem">[[order.project.building || '-']]</div></td>
                <td ng-if="tableFields[22].display"><div ng-init="tableFields[19].fullDisplay = false"
                                                         class="tabElem"
                                                         ng-class="{ellipsis:!tableFields[19].fullDisplay}"
                                                         ng-click="tableFields[19].fullDisplay = !tableFields[19].fullDisplay">[[order.project.description || '-']]</div></td>
                <td ng-if="tableFields[23].display"><div class="smallTabElem">[[order.structure.department]]</div></td>
                <td ng-if="tableFields[24].display"><div class="tabElem">[[order.program]]</div></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4">
                    <i18n class="center">totals</i18n>
                </td>
                <td ng-if="tableFields[3].display" colspan="[[countColSpan('price') - 1]]"> <div class="smallTabElem center">[[displayedOrders.calculTotalAmount()]]</div></td>
                <td ng-if="tableFields[4].display" >
                    <div class="smallTabElem center"> [[displayedOrders.calculTotalPriceTTC() | currency]]</div>
                </td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        <div class="twelve-mobile tot-cards center two">
            <h2>TOTAL DEMANDES</h2>
            <div ng-repeat="test in [1,2,3,4,5,6,7,8,9,10]">test</div>
        </div>
    </div>
    <lightbox on-close="closedLighbtox();"
              show="display.lightbox.validOrder">
        <container template="validOrder.lightbox"></container>
    </lightbox>
    <section class="toggle-buttons" ng-class="{ hide: ordersClient.selected.length === 0 }">
        <div class="toggle">
            <div class="row">
                <button ng-click="">
                    <i18n>Denied</i18n>
                </button>
                <button ng-click="exportCSV()" >
                    <i18n>crre.logs.csv.export</i18n>
                </button>
            </div>
        </div>
    </section>
</div>

