<div ng-controller="quoteController" class="order-client-validation">
    <div class="row margin-top-20 vertical-spacing-twice">
        <div class="cell two margin-top-8 twelve-mobile">
            <div class="search-bar order-search-bar">
                <i class="search padding-5"></i>
                <input class="twelve"
                       type="text"
                       ng-model="query_name"
                       ng-keyup="$event.keyCode == 13 ? search(query_name, true) : null"
                       i18n-placeholder="search.filter.order">
            </div>
        </div>
    </div>
    <div class="flex-row">
        <table class="twelve">
            <thead>
            <tr>
                <td class="table-selector main-selector">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-change="switchAllOrders()"
                               ng-model="allOrdersSelected">
                        <span></span>
                    </label>
                </td>
                <td><div class="smallTabElem center"><i18n>crre.date</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.order.number</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.order.user</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.number.structure.concern</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.basket.file.sent</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.devis.posted</i18n></div></td>
            </tr>
            </thead>
<!--            <tbody ng-repeat="project in projects">-->
            <tbody>
            <tr ng-repeat="quote in quotes">
                <td class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="quote.selected" ng-change="switchAllOrdersOfProject(quote)">
                        <span></span>
                    </label>
                </td>
                <td><div class="smallTabElem center">[[quote.creation_date]]</div></td>
                <td><div class="smallTabElem center">[[quote.title]]</div></td>
                <td><div class="smallTabElem center">[[quote.owner_name]]</div></td>
                <td><div class="smallTabElem center">[[quote.nb_structures]]</div></td>
                <td>
                    <div class="smallTabElem center" ng-click="generateCSV(quote.attachment)">
                        <i class="comment-icon" ></i>
                    </div>
                </td>
                <td><div class="smallTabElem center"></div></td>
            </tr>
           <!-- <tr>
                <td class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="project.selected" ng-change="switchAllOrdersOfProject(project)">
                        <span></span>
                    </label>
                </td>
                <td><div class="smallTabElem center">01-12-20 - 09:33</div></td>
                <td><div class="smallTabElem center">AK1459876ERZI</div></td>
                <td><div class="smallTabElem center">Alain RODIN</div></td>
                <td><div class="smallTabElem center">365</div></td>
                <td>
                    <div class="smallTabElem center">
                        <i class="attach-file"></i>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center">
                        <i class="pdf-file"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="project.selected" ng-change="switchAllOrdersOfProject(project)">
                        <span></span>
                    </label>
                </td>
                <td><div class="smallTabElem center">01-12-20 - 09:33</div></td>
                <td><div class="smallTabElem center">AK1459876ERZI</div></td>
                <td><div class="smallTabElem center">Alain RODIN</div></td>
                <td><div class="smallTabElem center">365</div></td>
                <td>
                    <div class="smallTabElem center">
                        <i class="attach-file"></i>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center ellipsis" tooltip="crre.canceled">
                        <div class="CANCELED status-circle cell row myOrder centerCircleMobile"></div>
                        <span class="webkit-vertical-align zero-mobile"><i18n>crre.canceled</i18n></span>
                    </div>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>
    <loader data-ng-show="loading" min-height="'250px'"></loader>
    <infinite-scroll scrolled="onScroll()" loading-mode="true"></infinite-scroll>
    <section class="toggle-buttons" ng-hide="!displayToggle">
        <div class="toggle">
            <div class="row">
                <button ng-click="validateOrders()"><i18n>Validate</i18n></button>
                <button ng-click="openRefusingOrderLightbox()"><i18n>Denied</i18n></button>
                <button ng-click="exportCSV()"><i18n>crre.logs.csv.export</i18n></button>
            </div>
        </div>
    </section>
</div>

