<div ng-controller="waitingOrderRegionController" class="crre-table">
    <div class="crre-order-waiting-header">
        <project-filter-admin filter="projectFilter" campaign-list="campaigns.all"
                              status-filter-list="statusFilterList" structure-list="structures.inRegroupement"
                              catalog-list="equipments.filters.catalogs" school-type="schoolType"
                              editor-list="equipments.filters.editors"
                              distributor-list="equipments.filters.distributors" on-search="resetSearch()"
                              class="flex-one"></project-filter-admin>
        <div class="cell twelve-mobile right-magnet margin-bottom-10">
            <button ng-click="openConfirmGenerateLibraryLightbox()" class="right-magnet"
                    ng-disabled="display.loading || containsSentOrDoneOrders()">
                <i18n>crre.take.order.library</i18n>
            </button>
        </div>
    </div>
    <div class="flex-row">
        <table class="twelve">
            <thead>
            <tr>
                <td class="table-selector main-selector">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-change="switchAllOrders()"
                               ng-model="display.allOrdersSelected"/>
                        <span></span>
                    </label>
                </td>
                <td>
                    <div class="smallTabElem center crre-display-hover-element crre-order-waiting-table-header-column"
                         ng-click="clickOnTableColumnHeader(orderByProjectField.DATE, true)">
                        <i18n>crre.date</i18n>
                        <div class="crre-order-waiting-table-header-column-order-icon">
                            <i ng-if="isOrderBy(orderByProjectField.DATE) && projectFilter.orderDesc"
                               class="crre-mdi-arrow-down"></i>
                            <i ng-if="isOrderBy(orderByProjectField.DATE) && !projectFilter.orderDesc"
                               class="crre-mdi-arrow-up"></i>
                            <i ng-if="!isOrderBy(orderByProjectField.DATE)"
                               class="crre-mdi-swap-vertical crre-hover-element"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="tabElem center crre-display-hover-element crre-order-waiting-table-header-column"
                         ng-click="clickOnTableColumnHeader(orderByProjectField.STRUCTURE_NAME, false)">
                        <i18n>crre.structure</i18n>
                        <div class="crre-order-waiting-table-header-column-order-icon">
                            <i ng-if="isOrderBy(orderByProjectField.STRUCTURE_NAME) && projectFilter.orderDesc"
                               class="crre-mdi-arrow-down"></i>
                            <i ng-if="isOrderBy(orderByProjectField.STRUCTURE_NAME) && !projectFilter.orderDesc"
                               class="crre-mdi-arrow-up"></i>
                            <i ng-if="!isOrderBy(orderByProjectField.STRUCTURE_NAME)"
                               class="crre-mdi-swap-vertical crre-hover-element"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center crre-display-hover-element crre-order-waiting-table-header-column"
                         ng-click="clickOnTableColumnHeader(orderByProjectField.UAI, false)">
                        <i18n>UAI</i18n>
                        <div class="crre-order-waiting-table-header-column-order-icon">
                            <i ng-if="isOrderBy(orderByProjectField.UAI) && projectFilter.orderDesc"
                               class="crre-mdi-arrow-down"></i>
                            <i ng-if="isOrderBy(orderByProjectField.UAI) && !projectFilter.orderDesc"
                               class="crre-mdi-arrow-up"></i>
                            <i ng-if="!isOrderBy(orderByProjectField.UAI)"
                               class="crre-mdi-swap-vertical crre-hover-element"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center crre-display-hover-element crre-order-waiting-table-header-column"
                         ng-click="clickOnTableColumnHeader(orderByProjectField.NAME, false)">
                        <i18n>crre.request</i18n>
                        <div class="crre-order-waiting-table-header-column-order-icon">
                            <i ng-if="isOrderBy(orderByProjectField.NAME) && projectFilter.orderDesc"
                               class="crre-mdi-arrow-down"></i>
                            <i ng-if="isOrderBy(orderByProjectField.NAME) && !projectFilter.orderDesc"
                               class="crre-mdi-arrow-up"></i>
                            <i ng-if="!isOrderBy(orderByProjectField.NAME)"
                               class="crre-mdi-swap-vertical crre-hover-element"></i>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center">
                        <i18n>CAMPAIGN</i18n>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center">
                        <i18n>crre.quantity</i18n>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center">
                        <i18n>Total</i18n>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center"></div>
                </td>
                <td>
                    <div class="smallTabElem center"></div>
                </td>
            </tr>
            </thead>
            <tbody ng-repeat="project in display.projects.all">
            <tr>
                <td class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="project.selected"
                               ng-change="switchAllOrdersOfProject(project); checkSwitchAll();"/>
                        <span></span>
                    </label>
                </td>
                <td ng-click="project.expanded = !project.expanded">
                    <div class="smallTabElem center">[[project.creation_date]]</div>
                </td>
                <td ng-click="project.expanded = !project.expanded">
                    <div class="tabElem ellipsis center">[[project.structure_name]]</div>
                </td>
                <td ng-click="project.expanded = !project.expanded">
                    <div class="smallTabElem center">[[project.uai]]</div>
                </td>
                <td ng-click="project.expanded = !project.expanded">
                    <div class="smallTabElem ellipsis center">[[project.title]]</div>
                </td>
                <td ng-click="project.expanded = !project.expanded">
                    <div class="smallTabElem ellipsis center">
                    </div>
                </td>
                <td ng-click="project.expanded = !project.expanded">
                    <div class="smallTabElem center">[[project.amount]]</div>
                </td>
                <td ng-click="project.expanded = !project.expanded">
                    <div class="smallTabElem center">[[project.total]]</div>
                </td>
                <td ng-click="project.expanded = !project.expanded">
                    <div class="smallTabElem status center ellipsis" ng-if="project.status == 'IN_PROGRESS'"
                         tooltip="crre.new">
                        <div class="NEW status-circle  cell row myOrder centerCircleMobile"></div>
                        <span class="zero-mobile"><i18n>crre.new</i18n></span>
                    </div>
                    <div class="smallTabElem status center ellipsis" ng-if="project.status !== 'IN_PROGRESS'"
                         tooltip="[[project.status]]">
                        <div class="[[project.status]] status-circle  cell row myOrder centerCircleMobile"></div>
                        <span ng-bind="lang.translate(project.status)" class="zero-mobile"></span>
                    </div>
                </td>
                <td ng-click="project.expanded = !project.expanded">
                    <div class="smallTabElem center" tooltip="[[lang.translate('crre.admin.valid.comment.validator') + project.comment]]">
                        <i ng-if="project.comment" class="comment-icon"></i>
                    </div>
                </td>
            </tr>
            <tr ng-repeat-start="order in sortedOrders(project.orders)" ng-if="project.expanded"
                class="subline">
                <td class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="order.selected"
                               ng-change="checkParentSwitch(project); checkSwitchAll();"/>
                        <span></span>
                    </label>
                </td>
                <td>
                    <div class="smallTabElem center"></div>
                </td>
                <td>
                    <div class="tabElem order" ng-click="openEquipmentId(order.equipment_key)">
                        <img src="[[order.image]]"/>
                        <div class="breakLines descriptionTruncate" style="-webkit-box-orient: vertical;">
                            [[order.name]]
                        </div>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem"></div>
                </td>
                <td>
                    <div class="smallTabElem center">[[order.equipment_key]]</div>
                </td>
                <td>
                    <div class="smallTabElem">
                        <div class="smallTabElem center">[[order.campaign_name]]</div>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center"> [[order.amount]]</div>
                </td>
                <td>
                    <div class="smallTabElem center"><span ng-bind="order.price | currency"></span></div>
                </td>
                <td>
                    <div class="smallTabElem status center ellipsis"
                         ng-if="order.displayStatus && order.status == 'IN_PROGRESS'" tooltip="crre.new">
                        <div class="NEW status-circle  cell row myOrder centerCircleMobile"></div>
                        <span class="zero-mobile"><i18n>crre.new</i18n></span>
                    </div>
                    <div class="smallTabElem status center ellipsis" ng-if="order.displayStatus && order.status !== 'IN_PROGRESS'
                    && order.status !== 'REJECTED' && (!order.status_id || order.stats_id != 1) && !order.status_name" tooltip="[[order.status]]">
                        <div class="[[order.status]] status-circle  cell row myOrder centerCircleMobile"></div>
                        <span ng-bind="lang.translate(order.status)" class="zero-mobile"></span>
                    </div>
                    <div class="smallTabElem status center ellipsis"
                         ng-if="order.status === 'REJECTED'" tooltip="[[order.cause_status]]">
                        <div class="[[order.status]] status-circle  cell row myOrder centerCircleMobile"></div>
                        <span ng-bind="lang.translate(order.status)" class="zero-mobile"></span>
                    </div>
                    <div class="smallTabElem status center ellipsis"
                         ng-if="order.status_id && order.status_name && order.status === 'SENT'"
                         tooltip="[[order.status_name]]">
                        <div class="status-circle cell row myOrder centerCircleMobile"
                             ng-class="getColor([[order.status_id]])"></div>
                        <span ng-bind="order.status_name" class="zero-mobile"></span>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center"
                         tooltip="[[lang.translate('crre.admin.valid.comment.prescriptor') + order.comment]]"
                         ng-if="order.comment">
                        <i class="comment-icon"></i>
                    </div>
                </td>
            </tr>
            <tr class="subline" ng-repeat="offer in order.offers.all"
                ng-if="project.expanded && order.offers.all.length > 0" ng-repeat-end>
                <td></td>
                <td></td>
                <td><span class="arrowOffer">[[offer.name]]</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="center">[[offer.value]]</td>
                <td class="center">[[lang.translate('crre.FREE')]]</td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <loader data-ng-show="display.loading" min-height="'250px'"></loader>
    <infinite-scroll-v2 scrolled="loadNextPage()" loading-mode="false"
                      ng-if="display.projects.all.length != 0">
    </infinite-scroll-v2>
    <div ng-show="display.projects.all.length === 0 && !display.loading" class="centered">
        <div class="twelve cell centered-text">
            <h3>
                <i18n>crre.info.empty.tab</i18n>
            </h3>
        </div>
        <br/>
        <div class="twelve cell centered-text vertical-spacing">
            <img class="four" src="/crre/public/img/PageTableauVide.svg"/>
        </div>
    </div>
    <section class="toggle-buttons" ng-hide="!display.toggle">
        <div class="toggle">
            <div class="row">
                <button ng-click="validateOrders()"
                        ng-disabled="containsSentOrDoneOrders()">
                    <i18n>Validate</i18n>
                </button>
                <button ng-click="openRefusingOrderLightbox()"
                        ng-disabled="containsSentOrDoneOrders()">
                    <i18n>Denied</i18n>
                </button>
                <button ng-click="exportCSVRegion()">
                    <i18n>crre.logs.csv.export</i18n>
                </button>
                <button ng-click="openConfirmGenerateLibraryLightbox()"
                        ng-disabled="containsSentOrDoneOrders()">
                    <i18n>crre.take.order.library</i18n>
                </button>
            </div>
        </div>
    </section>
    <lightbox on-close="closeWaitingAdminLightbox();"
              show="display.lightbox.waitingAdmin"
              class="visible-overflow">
        <container template="lightbox.waitingAdmin"></container>
    </lightbox>
</div>

