<div ng-controller="orderRegionController" class="order-client-validation">
    <div class="row margin-top-20 vertical-spacing-twice">
        <div class="cell two margin-top-8 twelve-mobile">
            <div class="search-bar order-search-bar">
                <i class="search padding-5"></i>
                <input class="twelve"
                       type="text"
                       ng-model="query_name"
                       ng-keyup="$event.keyCode == 13 ? searchByName(query_name) : null"
                       i18n-placeholder="search.filter.order">
            </div>
        </div>
        <div class="cell nine-small twelve-mobile catalog" style="min-width: 650px;">
            <button ng-click="initPopUpFilters('showPopUpColumnsDocumentsTypes')"
                    class="filterButton">
                <i class="book-variant"></i>
                <span><i18n>Types.of.documents</i18n></span>
                <div class="columns-popup-wrapper right-magnet">
                    <div class="right-magnet columns-popup-button">
                        <span ng-show="showPopUpColumnsDocumentsTypes">&#x25B2;</span>
                        <span ng-hide="showPopUpColumnsDocumentsTypes">&#x25BC;</span>
                    </div>
                    <div ng-class="{'open' : showPopUpColumnsDocumentsTypes}" class="right-magnet columns-popup">
                        <label class="columns-popup-items left-text ellipsis" ng-class="{'open' : showPopUpColumnsDocumentsTypes}"
                               ng-repeat="docType in equipments.docsType | orderBy:'name'">
                            <input type="checkbox" ng-model = "docType.isChecked" ng-change="getFilter(docType.name, '_index')">
                            <span>[[lang.translate(docType.name)]]</span>
                        </label>
                    </div>
                </div>
            </button>
            <button ng-click="initPopUpFilters('showPopUpColumnsReassort')"
                    class="filterButton">
                <i class="star-circle"></i>
                <span><i18n>crre.reassort</i18n></span>
                <div class="columns-popup-wrapper right-magnet">
                    <div class="right-magnet columns-popup-button">
                        <span ng-show="showPopUpColumnsReassort">&#x25B2;</span>
                        <span ng-hide="showPopUpColumnsReassort">&#x25BC;</span>
                    </div>
                    <div ng-class="{'open' : showPopUpColumnsReassort}" class="right-magnet columns-popup">
                        <label class="columns-popup-items left-text ellipsis" ng-class="{'open' : showPopUpColumnsReassort}"
                               ng-repeat="reassort in reassorts | orderBy:'name'">
                            <input type="checkbox" ng-model = "reassort.isChecked" ng-change="getFilter(reassort.reassort, 'reassort')">
                            <span ng-bind="lang.translate(reassort.reassort)"></span>
                        </label>
                    </div>
                </div>
            </button>
            <button ng-click="initPopUpFilters('showPopUpColumnsLicence')"
                    class="filterButton">
                <i class="star-circle"></i>
                <span><i18n>crre.all.licences</i18n></span>
                <div class="columns-popup-wrapper right-magnet">
                    <div class="right-magnet columns-popup-button">
                        <span ng-show="showPopUpColumnsLicence">&#x25B2;</span>
                        <span ng-hide="showPopUpColumnsLicence">&#x25BC;</span>
                    </div>
                    <div ng-class="{'open' : showPopUpColumnsLicence}" class="right-magnet columns-popup">
                        <label class="columns-popup-items left-text ellipsis" ng-class="{'open' : showPopUpColumnsLicence}"
                               ng-repeat="licence in licences | orderBy:'name'">
                            <input type="checkbox" ng-model = "licence.isChecked" ng-change="getFilter(licence.licence, 'licence')">
                            <span ng-bind="lang.translate(licence.licence)"></span>
                        </label>
                    </div>
                </div>
            </button>
        </div>
        <div class="cell one margin-top-14 twelve-mobile" ng-click="openFiltersLightbox()">
            <span class="color-red" style="text-decoration: underline;"><i18n>crre.more.filters</i18n></span>
        </div>
        <div class="cell twelve-mobile right-magnet">
            <button ng-click="generateLibraryOrder()" class="right-magnet"><i18n>crre.take.order.library</i18n></button>
        </div>
    </div>
    <div class="flex-row">
        <table class="twelve">
            <thead>
            <tr>
                <td class="table-selector main-selector">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-change="switchAllOrders()"
                               ng-model="allOrdersSelected">
                        <span></span>
                    </label>
                </td>
                <td><div class="smallTabElem center"><i18n>crre.date</i18n></div></td>
                <td><div class="tabElem center"><i18n>crre.structure</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>UAI</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.request</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>CAMPAIGN</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.reassort</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.number.licences</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>Total</i18n></div></td>
                <td><div class="smallTabElem center"></div></td>
            </tr>
            </thead>
            <tbody ng-repeat="project in projects">
            <tr>
                <td class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="project.selected" ng-change="switchAllOrdersOfProject(project)">
                        <span></span>
                    </label>
                </td>
                <td><div class="smallTabElem center">[[project.creation_date]]</div></td>
                <td><div class="TabElem center">[[project.structure_name]]</div></td>
                <td><div class="smallTabElem center">[[project.uai]]</div></td>
                <td><div class="smallTabElem center">[[project.title]]</div></td>
                <td><div class="smallTabElem center">[[project.campaign_name]]</div></td>
                <td><div class="smallTabElem"></div></td>
                <td><div class="smallTabElem center">[[project.amount]]</div></td>
                <td><div class="smallTabElem center">[[project.total]]</div></td>
                <td>
                    <div class="smallTabElem status center ellipsis" ng-if="project.status == 'IN PROGRESS'" tooltip="crre.new">
                        <div class="NEW status-circle  cell row myOrder centerCircleMobile"></div>
                        <span class="webkit-vertical-align zero-mobile"><i18n>crre.new</i18n></span>
                    </div>
                    <div class="smallTabElem status center ellipsis" ng-if="project.status !== 'IN PROGRESS'" tooltip="[[project.status]]">
                        <div class="[[project.status]] status-circle  cell row myOrder centerCircleMobile"></div>
                        <span ng-bind="lang.translate(project.status)" class="webkit-vertical-align zero-mobile"></span>
                    </div>
                </td>
            </tr>
            <tr ng-repeat="order in project.orders" class="subline">
                <td class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="order.selected" ng-change="checkParentSwitch(project)">
                        <span></span>
                    </label>
                </td>
                <td><div class="smallTabElem center">[[order.creation_date]]</div></td>
                <td>
                    <div class="tabElem order" ng-click="openEquipmentId(order.equipment_key)">
                        <img src="[[order.image]]"/>
                        <div class="breakLines">[[order.name]]</div>
                    </div>
                </td>
                <td><div class="smallTabElem"></div></td>
                <td><div class="smallTabElem center">[[order.ean]]</div></td>
                <td><div class="smallTabElem"></div></td>
                <td>
                    <div class="smallTabElem center">
                        <i class="check-circle-crre" ng-if="order.reassort" tooltip="crre.reassort"></i>
                        <i class="close-circle" ng-if="!order.reassort" tooltip="crre.not.reassort"></i>
                    </div>
                </td>
                <td><div class="smallTabElem center"> [[order.amount]]</div></td>
                <td><div class="smallTabElem center"><span ng-bind="order.price | currency"></span></div></td>
                <td>
                    <div class="smallTabElem center"
                         tooltip="[[order.comment]]"
                         ng-if="order.comment">
                        <i class="comment-icon"></i>
                    </div>
                    <div class="smallTabElem status center ellipsis" ng-if="order.displayStatus && order.status == 'IN PROGRESS'" tooltip="crre.new">
                        <div class="NEW status-circle  cell row myOrder centerCircleMobile"></div>
                        <span class="webkit-vertical-align zero-mobile"><i18n>crre.new</i18n></span>
                    </div>
                    <div class="smallTabElem status center ellipsis" ng-if="order.displayStatus && order.status !== 'IN PROGRESS'" tooltip="[[order.status]]">
                        <div class="[[order.status]] status-circle  cell row myOrder centerCircleMobile"></div>
                        <span ng-bind="lang.translate(order.status)" class="webkit-vertical-align zero-mobile"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <loader data-ng-show="loading" min-height="'250px'"></loader>
    <infinite-scroll scrolled="onScroll()" loading-mode="true"></infinite-scroll>
    <section class="toggle-buttons" ng-class="{ hide: !displayToggle }">
        <div class="toggle">
            <div class="row">
                <button ng-click="validateOrders()"><i18n>Validate</i18n></button>
                <button ng-click="openRefusingOrderLightbox()"><i18n>Denied</i18n></button>
                <button ng-click="exportCSV()"><i18n>crre.logs.csv.export</i18n></button>
                <button ng-click="generateLibraryOrder()"><i18n>crre.take.order.library</i18n></button>
            </div>
        </div>
    </section>
    <lightbox on-close="closeWaitingAdminLightbox();"
              show="display.lightbox.waitingAdmin"
              class="visible-overflow">
        <container template="lightbox.waitingAdmin"></container>
    </lightbox>
</div>

