<div ng-controller="refuseOrderRegionController">
    <div class="row">
        <h1><i18n>crre.justificate.denied.order</i18n></h1>
        <form>
            <textarea style="resize: none;" ng-model="justification.denied"
                      auto-height
                      maxlength="300"></textarea>
        </form>
    </div>

    <div class="row">
        <input type="submit" class="button right-magnet " ng-click="confirmRefuseOrder(justification.denied)" i18n-value="Validate"/>
        <input type="button" class="cancel margin-right-10 right-magnet " ng-click="closeWaitingAdminLightbox()" i18n-value="cancel"/>
    </div>
</div>
