<div ng-controller="orderPersonnelController">
    <div ng-show="ordersClient.all.length > 0" class="basket-list">
        <h1>
            <button class="right-magnet" ng-click="exportCSV()"><i18n>crre.orderEquipment.manage.exportCSV</i18n></button>
        </h1>
        <container template="order-list"></container>
    </div>
    <article ng-show = "ordersClient.all.length === 0 " class="centered-text row">
        <p><i18n>crre.orderEquipment.manage.empty.order</i18n></p>
    </article>
    <lightbox show="display.lightbox.deleteOrder" on-close="cancelOrderEquipmentDelete()">
        <container template="orderClient.delete"></container>
    </lightbox>
    <section class="toggle-buttons" ng-class="{ hide: ordersClient.selected.length === 0 }">
        <div class="toggle">
            <div class="row">

                <button
                        ng-click="displayLightboxDelete(ordersClient.selected)">
                    <i18n>delete</i18n>
                </button>
            </div>
        </div>
    </section>
</div>