<div class="flex-row">
    <table class="twelve-mobile twelve">
        <thead>
        <tr>
            <td><div class="smallTabElem center"><i18n>crre.equipment.date</i18n></div></td>
            <td><div class="tabElem"><i18n>crre.basket</i18n></div></td>
            <td><div class="tabElem"></div></td>
            <td><div class="smallTabElem center"><i18n>number.articles</i18n></div></td>
            <td><div class="smallTabElem center"><i18n>Total</i18n></div></td>
            <td><div class="tabElem"></div></td>
            <td><div class="smallTabElem"><i18n>crre.operation.status</i18n></div></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="basket in basketsOrders.all">
            <td workflow="crre.validator" class="table-selector">
                <label class="checkbox">
                    <input type="checkbox" ng-model="basket.selected">
                    <span></span>
                </label>
            </td>
            <td><div class="smallTabElem center">[[formatDate(basket.created)]]</div></td>
            <td ><div class="tabElem order">[[basket.name]]</div></td>
            <td><div class="tabElem">[[basket.name_user]]</div></td>
            <td><div class="smallTabElem center"> [[basket.amount]]</div></td>
            <td><div class="smallTabElem center">[[basket.total]]</div></td>
            <td><div class="tabElem"></div></td>
        </tr>
        <tr ng-repeat="order in ordersClient.all track by $index" post-ng-repeat>
            <td ng-if="tableFields[0].display"><div class="smallTabElem center">[[order.creation_date]]</div></td>
            <td ng-if="tableFields[1].display"><div class="tabElem order">
                <img src="[[order.image]]"/><div>[[order.name]]</div>
            </div></td>
            <td ng-if="tableFields[1].display"><div class="smallTabElem center"></div></td>
            <td ng-if="tableFields[2].display"><div class="smallTabElem center"> [[order.amount]]</div></td>
            <td ng-if="tableFields[3].display"><div class="smallTabElem center"><span ng-bind="calculateTotal(order,2) | currency"></span></div></td>
            <td ng-if="tableFields[4].display"><div ng-init="tableFields[6].fullDisplay = false"
                                                    class="tabElem"
                                                    ng-class="{ellipsis:!tableFields[6].fullDisplay}"
                                                    ng-click="tableFields[6].fullDisplay = !tableFields[6].fullDisplay"> [[order.comment || '-']]</div></td>
            <td ng-if="tableFields[5].display">
                <div class="smallTabElem">
                    <div tooltip="[[order.status]]" class="[[order.status]] status-circle  cell row myOrder">
                    </div>
                    <span ng-bind="lang.translate(order.status)" class="webkit-vertical-align"></span>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>