<div class="twelve-mobile ten centered row" ng-controller="campaignsListController">
    <div class="row aligned" ng-if="structures.all.length > 1">
        <h4 class="right-magnet"><i18n>multi-structures.choice</i18n> :
            <search-and-select class="cell right-magnet horizontal-margin"
                               param1="UAI"
                               param2="name"
                               options="structures.all"
                               ng-model="current.structure"
                               search-on="name" order-by="name"
                               ng-change="initCampaign(current.structure)">
            </search-and-select>
        </h4>

    </div>
    <div>
        <article class="twelve cell">
            <h1 class="cell ten">Nombre d'élèves</h1>
            <div ng-init="getStudent()">
                <div class="cell ten">
                    <span class="small-text"><i18n>crre.number.student.april</i18n></span>
                    <span class="black-color big-text">[[student.total_april]]</span>
                </div>
                <div class="cell ten">
                    <span class="small-text"><i18n>crre.number.student.next.year</i18n></span>
                    <span class="black-color big-text">[[student.total]]</span>
                </div>
                <div class="cell ten">
                    <span class="small-text"><i18n>crre.number.student.calcul</i18n></span>
                    <span class="black-color big-text">[[total_licence]]</span>
                </div>
                <div class="cell ten" ng-if="campaigns.all[0] && campaigns.all[0].nb_licences_consumable_total">
                    <span class="small-text"><i18n>crre.number.student.consumables.calcul</i18n></span>
                    <span class="black-color big-text">[[campaigns.all[0].nb_licences_consumable_total]]</span>
                </div>
                <div class="twelve-mobile right-magnet" workflow="crre.updateStudent">
                    <div class="twelve-mobile cell">
                        <input ng-click="modifyNumberStudent()"
                               type="button"
                               class="button"
                               i18n-value="crre.modify.number.student"/>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div>
        <article class="twelve cell"
                 ng-class="{disabled : !campaign.accessible}"
                 ng-repeat="campaign in campaigns.all track by $index">
            <h1 ng-class="!campaign.accessible ? 'title-disabled' : ''" >[[campaign.name]]</h1>
            <div>
                <p ng-bind-html="campaign.description" class="small-text"></p>
                <div class="groupButtons">
                    <div class="twelve-mobile four cell" >
                        <p class="small-text-align" ng-if="campaign.purse_enabled">
                            <span class="bold-font-weight"><i18n>crre.campaign.purse.region</i18n></span>
                        </p>
                        <p class="small-text-align" ng-if="campaign.use_credit == 'credits'">
                            <em class="small-text">
                                <i18n>crre.campaign.amount.init</i18n> : <span ng-bind="campaign.initial_purse_amount | currency"></span>
                                <i18n>crre.remainder</i18n> : <span ng-bind="campaign.purse_amount | currency"></span>
                            </em>
                        </p>
                        <p class="small-text-align" ng-if="campaign.use_credit == 'licences'">
                            <em class="small-text">
                                <i18n>crre.Licences</i18n> : <span ng-bind="campaign.nb_licences_total"></span>
                                <i18n>crre.remainder</i18n> : <span ng-bind="campaign.nb_licences_available"></span>
                            </em>
                        </p>
                        <p class="small-text-align" ng-if="campaign.use_credit == 'consumable_licences'">
                            <em class="small-text">
                                <i18n>crre.ConsumableLicences</i18n> : <span ng-bind="campaign.nb_licences_consumable_total"></span>
                                <i18n>crre.remainder</i18n> : <span ng-bind="campaign.nb_licences_consumable_available"></span>
                            </em>
                        </p>
                        <p class="small-text-align" ng-show="campaign.nb_order && campaign.nb_order !== 0">
                            <em class="small-text">
                                [[campaign.nb_order]]
                                <i18n ng-show="campaign.nb_order > 1">crre.demands.waiting</i18n>
                                <i18n ng-show="campaign.nb_order === 1">crre.demand.waiting</i18n>
                            </em>
                        </p>
                        <p class="small-text-align" ng-show="campaign.nb_order_waiting && campaign.nb_order_waiting !== 0">
                            <em class="small-text">
                                [[campaign.nb_order_waiting]]
                                <i18n ng-show="campaign.nb_order_waiting > 1">crre.demands.waiting.toValidate</i18n>
                                <i18n ng-show="campaign.nb_order_waiting === 1">crre.demand.waiting.toValidate</i18n>
                            </em>
                        </p>
                    </div>
                    <div class="twelve-mobile right-magnet paddingTop"  >
                        <div class="twelve-mobile cell" workflow-not="crre.validator">
                            <input type="button"
                                   class="button"
                                   ng-click="openOrderToMain(campaign)"
                                   ng-disabled="!campaign.accessible"
                                   i18n-value="crre.validator.demand"/>
                        </div>
                        <div class="twelve-mobile cell" workflow="crre.validator">
                            <input type="button"
                                   class="button"
                                   ng-disabled="!campaign.accessible"
                                   ng-click="openCampaignWaitingOrder(campaign)"
                                   i18n-value="crre.access.demands.waiting.toValidate"/>

                        </div>
                        <div class="twelve-mobile cell">
                            <input ng-show="campaign.accessible"
                                   ng-click="openCampaign(campaign)"
                                   type="button"
                                   class="button"
                                   i18n-value="crre.access.catalog"/>
                            <input ng-show="!campaign.accessible"
                                   type="button"
                                   class="button"
                                   ng-disabled="true"
                                   i18n-value="crre.catalog.disabled"/>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <article ng-if="campaigns.isEmpty()">
        <h4 class="centered-text">
            <i class="sad-face horizontal-margin"></i>
            <i18n>crre.campaigns.empty</i18n></h4>
    </article>
    <lightbox show="display.lightbox.modifyNumberStudent" on-close="cancelUpdateNumberStudent()">
        <container template="number.student"></container>
    </lightbox>
</div>