<div ng-controller="catalogController" class="catalog" bottom-scroll="nbItemsDisplay = nbItemsDisplay + pageSize">
    <div class="cell twelve horizontal-spacing search-pagination vertical-spacing-twice">
        <a ng-show="display.equipment" class="zero block-mobile"
           href="#/equipments/catalog">
            <i class="angle-double-left horizontal-spacing"></i>
            <i18n>back.to.catalog</i18n>
        </a>
        <div ng-if="(isValidator() || isPrescriptor()) && !isAdministrator()" class="twelve font19 padding-bottom-20">
            <span class="bold-font-weight"><i18n>CAMPAIGN</i18n> : </span>
            <span>[[campaign.name]]</span>
        </div>
        <div class="row twelve">
            <div class="search-bar">
                <i class="search padding-20"></i>
                <input class="twelve"
                       type="text"
                       ng-keyup="$event.keyCode == 13 ? addFilter() : null"
                       ng-model="queryWord"
                       i18n-placeholder="search.filter.catalog"
                       ng-init="queryWord = query.word"/>
            </div>
        </div>
    </div>
    <div class="cell twelve vertical-spacing">
        <multi-combo ng-if="preFilter[key].length == 0"
                     title="[[lang.translate(key)]]"
                     combo-model="equipments[key]"
                     search-on="name" order-by="[[getSortName(key)]]"
                     labels="comboLabels" filtered-model="catalog[key]"
                     selection-event="getFilter()"
                     deselection-event="getFilter()"
                     max-selected="10"
                     class="inline-block small-width horizontal-spacing no-border"
                     ng-repeat="key in correlationFilterES.keys">
        </multi-combo>
    </div>
    <div class="row" ng-if="filters.all.length > 0">
        <div style="margin:0.5em">
            <div class="remove-margin-bottom">
                <div ng-repeat="key in correlationFilterES.keys" class="select-blocks inline-block">
                    <div ng-repeat="item in catalog[key]" ng-if="preFilter[key].length == 0"
                         ng-click="dropElement(item,key)">
                        [[item.toString()]]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cell catalog-list twelve">
        <div class="dominos item_hover_accent_list">
            <div class="item six-mobile"
                 ng-class="{disabled: equipment.status!== 'Disponible', 'list-item': display.equipment}"
                 ng-repeat="equipment in equipments.all | limitTo:nbItemsDisplay track by $index"
                 ng-click="openEquipmentId(equipment.id)">
                <article class="domino"  ng-class="{ disabled: equipment.status !== 'Disponible' }">
                    <span ng-show="equipment.status !== 'Disponible'" tooltip="[[equipment.commentaire]]">
                        <i18n>[[lang.translate(equipment.status)]]</i18n>
                    </span>
                    <div class="top" ng-class="{ item: display.equipment }">
                        <div ng-class="{'articlenumerique':'laptop-icon', 'articlepapier':'book-icon'}[equipment.type]">
                        </div>
                        <div class="image-container">
                            <img ng-src="[[equipment.urlcouverture]]"
                                 ng-show="equipment.urlcouverture" alt=""/>
                            <img skin-src="/crre/public/img/pages-default.png"
                                 ng-show="!equipment.urlcouverture" alt=""/>
                        </div>
                        <div>
                            <strong class="ellipsis" tooltip="[[equipment.titre]]">[[equipment.titre]]</strong>
                            <p class="ean-small" ng-if="equipment.ean"><i></i> <b> EAN :  </b> &nbsp; [[equipment.ean]] </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="item six-mobile" ng-repeat="x in [].constructor(pageSize) track by $index" ng-if="equipments.loading">
                <article class="domino loading-domino">
                    <div class="loading-bar" ng-class="{loading: equipments.loading}"></div>
                    <div class="top">
                        <div class="image-container">
                            <div class="grey-matter grey-image">&nbsp;</div>
                        </div>
                        <div class="data-container">
                            <strong class="grey-matter">&nbsp;</strong>
                            <p class="grey-matter max-60">&nbsp;</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div ng-show="equipments.all.length === 0 && !equipments.loading" class="centered">
            <div class="twelve cell centered-text" >
                <h3>
                    <i18n>crre.info.empty.catalog.1</i18n>
                    <span class="bold-font-weight color-red"><i18n>crre.info.empty.2</i18n></span>
                </h3>
            </div>
        </div>
    </div>
</div>