<nav class="vertical twelve-mobile mobile-navigation" side-nav>
    <ul>
        <li><a href="#/order/waiting"><i18n>crre.orders.validations.waiting</i18n></a></li>
        <li><a href="#/order/historic'"><i18n>crre.orders.validate.historic</i18n></a></li>
        <li><a href="#/equipments/catalog"><i18n>crre.catalog</i18n></a></li>
        <li><a href="#/campaigns"><i18n>crre.manage.campaigns</i18n></a></li>
        <li><a href="#/structureGroups"><i18n>crre.structureGroups.management</i18n></a></li>
        <li><a href="#/purses"><i18n>crre.purses</i18n></a></li>
        <li workflow="crre.administrator"><a href="#/logs"><i18n>crre.logs</i18n></a></li>
    </ul>
</nav>

<div class="twelve tabs vertical-spacing heading-tabs zero-mobile">
    <header class="horizontal-spacing"  ng-click="redirectTo('/order/waiting')">
        <i class="home"></i>
    </header>
    <header class="horizontal-spacing" ng-class="{selected: (selectedType == '/order/waiting' || selectedType == '/order/historic')}">
        <drop-down-menu title="[[lang.translate('crre.orders')]]">
            <opt ng-click="redirectTo('/order/waiting')"><i18n>crre.orders.validations.waiting</i18n></opt>
            <opt ng-click="redirectTo('/order/historic')"><i18n>crre.orders.validate.historic</i18n></opt>
        </drop-down-menu>
    </header>
    <header class="horizontal-spacing" ng-class="{ selected : selectedType.startsWith('/equipments/catalog') }" ng-click="redirectTo('/equipments/catalog')">
            <i18n>crre.catalog</i18n>
    </header>
    <header class="horizontal-spacing" ng-class="{selected: (selectedType == '/campaigns' || selectedType == '/structureGroups')}">
        <drop-down-menu title="[[lang.translate('crre.campaigns')]]">
            <opt  ng-click="redirectTo('/campaigns')"><i18n>crre.manage.campaigns</i18n></opt>
            <opt ng-click="redirectTo('/structureGroups')"><i18n>crre.structureGroups.management</i18n></opt>
        </drop-down-menu>
    </header>
    <header class="horizontal-spacing" ng-class="{selected:selectedType == '/purses'}" ng-click="redirectTo('/purses')">
        <i18n>crre.purses</i18n>
    </header>
    <header class="horizontal-spacing" ng-class="{selected:selectedType == '/logs'}" ng-click="redirectTo('/logs')"
            workflow="crre.administrator">
        <i18n>crre.logs</i18n>
    </header>
</div>
<div class="loading-bar" ng-class="{loading: loadingArray}"></div>
<div ng-if="loadingArray">
    <h1><i18n>crre.loading</i18n></h1>
</div>

<container ng-show="!loadingArray" template="administrator-main"></container>