<div ng-controller="waitingValidatorOrderController" class="crre-table">
    <div class="crre-order-waiting-header ten">
        <order-waiting-filter-validator class="flex-one" on-search="search" filter="filterOrder" user-list="users" type-campaign-list="type_campaign"></order-waiting-filter-validator>
        <div class="cell twelve-mobile right-magnet" style="z-index: 1;">
            <button ng-disabled="!checkValid() || remainAvailable()" ng-click="openLightboxConfirmOrder()" class="right-magnet"><i18n>crre.take.order.2</i18n></button>
        </div>
    </div>
    <div class="flex-row">
        <table class="twelve-mobile ten">
            <thead>
            <tr>
                <td workflow="crre.validator" class="table-selector main-selector">
                    <label class="checkbox">
                        <input type="checkbox"
                               ng-change="switchAllOrders()"
                               ng-model="allOrdersSelected"/>
                        <span></span>
                    </label>
                </td>
                <td><div class="smallTabElem center"><i18n>crre.date</i18n></div></td>
                <td><div class="tabElem center"><i18n>Ressource</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>Owner</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.basket</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>crre.quantity</i18n></div></td>
                <td><div class="smallTabElem center"><i18n>Total</i18n></div></td>
                <td><div class="smallTabElem">  </div></td>
            </tr>
            </thead>
            <tbody ng-repeat="order in ordersClient.all track by $index" ng-if="!loading">
            <tr class="subline" ng-class="{'background-grey' : !order.campaign.accessible}">
                <td workflow="crre.validator" class="table-selector">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="order.selected" ng-change="checkSwitchAll();"/>
                        <span></span>
                    </label>
                </td>
                <td><div class="smallTabElem center">[[order.creation_date]]</div></td>
                <td>
                    <div class="tabElem order" ng-click="openEquipmentId(order.equipment_key)">
                        <img src="[[order.image]]" ng-class="{'grayscale-filter' : !order.campaign.accessible}"/>
                        <div class="breakLines descriptionTruncate" style="-webkit-box-orient: vertical;">[[order.name]]</div>
                    </div>
                </td>
                <td><div class="smallTabElem center breakLines">[[order.user_name]]</div></td>
                <td><div class="smallTabElem center breakLines ellipsis" tooltip="[[order.basket_name]]">[[order.basket_name]]</div></td>
                <td>
                    <div class="smallTabElem center centerInputAmount">
                        <i class="moins" ng-if="order.status !== 'IN_PROGRESS' && order.valid && order.campaign.accessible"
                           ng-hide="!order.amount || order.amount <= 1" ng-click="updateAmount(order, order.amount - 1)"></i>
                        <input type="number" class="quantity-input numberWithoutArrow" step="1" min="1" ng-keypress="avoidDecimals($event)"
                               ng-disabled="order.status === 'IN_PROGRESS' || !order.valid || !order.campaign.accessible"
                               ng-change="updateAmount(order, order.amount)"
                               ng-model="order.amount"/>
                        <i class="plus_medium" ng-if="order.status !== 'IN_PROGRESS' && order.valid && order.campaign.accessible"
                           ng-click="updateAmount(order, order.amount + 1)"></i>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center leftPadding10">
                        <span ng-bind="order.price*order.amount | currency"></span>
                    </div>
                </td>
                <td>
                    <div class="smallTabElem center"
                         tooltip="[[order.comment]]"
                         ng-if="order.comment">
                        <i class="comment-icon"></i>
                    </div>
                </td>
            </tr>
            <tr class="subline" ng-repeat="offer in order.offers.all" ng-if="!!order.offers">
                <td></td>
                <td><div class="smallTabElem center"></div></td>
                <td><span class="arrowOffer">[[offer.name]]</span></td>
                <td></td>
                <td></td>
                <td class="center">[[offer.value]]</td>
                <td class="center">[[lang.translate('crre.FREE')]]</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <loader data-ng-show="loading" min-height="'250px'" class="twelve-mobile ten absolute-position"></loader>
        <div ng-show="ordersClient.all.length === 0 && !loading" class="twelve-mobile ten absolute-position centered top-margin-100">
            <div class="twelve cell centered-text" >
                <h3><i18n>crre.info.empty.tab</i18n></h3>
            </div>
            <br/>
            <div class="twelve cell centered-text">
                <img class="four" src="/crre/public/img/PageTableauVide.svg" />
            </div>
        </div>
        <order-waiting-price-display campaign="campaign" orders-client="ordersClient" amount-total="amountTotal" all-orders-selected="allOrdersSelected"></order-waiting-price-display>
    </div>
    <lightbox on-close="closeRefuseOrder();"
              show="display.lightbox.refuseOrder">
        <container template="refuseOrder.lightbox"></container>
    </lightbox>
    <lightbox on-close="closeConfirmOrder();"
              show="display.lightbox.confirmOrder">
        <container template="confirmOrder.lightbox"></container>
    </lightbox>
    <infinite-scroll scrolled="loadNextPage()" loading-mode="true"></infinite-scroll>
    <section class="toggle-buttons" ng-show="ordersClient.selected.length > 0">
        <div class="toggle">
            <div class="row">
                <button ng-click="openLightboxRefuseOrder()">
                    <i18n>Denied</i18n>
                </button>
                <button ng-click="exportCSV()">
                    <i18n>crre.orderEquipment.manage.exportCSV</i18n>
                </button>
                <button ng-disabled="!checkValid() || remainAvailable()" ng-click="openLightboxConfirmOrder()">
                    <i18n>crre.take.order.2</i18n>
                </button>
            </div>
        </div>
    </section>
</div>

