<div ng-controller="catalogController" class="catalog">
    <div class="cell twelve horizontal-spacing search-pagination vertical-spacing-twice">
        <a ng-show="display.equipment" class="zero block-mobile"
            href="#/campaign/[[campaign.id]]/catalog">
            <i class="angle-double-left horizontal-spacing"></i>
            <i18n>back.to.catalog</i18n>
        </a>
        <div class="row twelve" ng-show="!display.equipment">
            <div class="search-bar">
                <i class="search padding-20"></i>
                <input class="twelve"
                       type="text"
                       ng-keyup="addFilter($event)"
                       i18n-placeholder="search.filter.catalog">
            </div>
        </div>
    </div>
    <div class="row horizontal-spacing">
        <div class="select-blocks">
            <div ng-repeat="filter in equipments.sort.filters"
                 ng-click="dropEquipmentFilter(filter)"
                 class="labels-in-ligne">
                <div> [[ filter ]]</div>
            </div>
        </div>
    </div>
    <div class="row">
        <button ng-click=""
                class="filterButton">
            <i class="school"></i>
            <span>Disciplines</span>
            <i class="arrow bottom"></i>
        </button>
        <button ng-click=""
                class="filterButton">
            <i class="star-circle"></i>
            <span>Diplômes</span>
            <i class="arrow bottom"></i>
        </button>
        <button ng-click=""
                class="filterButton">
            <i class="star-circle"></i>
            <span>Niveaux</span>
            <i class="arrow bottom"></i>
        </button>
        <button ng-click=""
                class="filterButton">
            <i class="book-variant"></i>
            <span>Types de documents</span>
            <i class="arrow bottom"></i>
        </button>
        <button ng-click=""
                class="filterButton">
            <i class="editor"></i>
            <span>Éditeurs</span>
            <i class="arrow bottom"></i>
        </button>
        <button ng-click=""
                class="filterButton">
            <i class="phone-infos"></i>
            <span>OS</span>
            <i class="arrow bottom"></i>
        </button>
    </div>
    <nav class="prev-next vertical-spacing-four" ng-if="equipments.page_count > 1">
        <button ng-click="display.equipment = false; equipments.loadPrev(campaign.id, current.structure.id)"
                ng-disabled="equipments.page === 0">
            <i class="left-open"></i>
        </button>
        <span class="pagination">
				<span>[[ equipments.page + 1 ]]</span>
				<i18n class="zero-mobile"><i18n>crre.pages.separator</i18n></i18n>
				<span class="zero-desktop">/</span>
				<span>[[ equipments.page_count ]]</span>
			</span>
        <button ng-click="display.equipment = false; equipments.loadNext(campaign.id, current.structure.id);"
                ng-disabled="equipments.page + 1 === equipments.page_count">
            <i class="open-right"></i>
        </button>
    </nav>
    <div class="cell catalog-list twelve" ng-if="!equipments.loading">
        <div class="dominos item_hover_accent_list">
            <div class="item six-mobile"
                 ng-class="{disabled: equipment.status!== 'AVAILABLE', 'list-item': display.equipment}"
                 ng-repeat="equipment in equipments.all"
                 ng-click="openEquipment(equipment)">

                <h1 ng-class="{disabled: equipment.status !== 'AVAILABLE'} " ng-show="equipment.status!== 'AVAILABLE'">
                    <i18n ng-if="equipment.status === 'UNAVAILABLE'">crre.UNAVAILABLE</i18n>
                    <i18n ng-if="equipment.status === 'OUT_OF_STOCK'">crre.OUT_OF_STOCK</i18n>
                </h1>

                <article class="domino"  ng-class="{ disabled: equipment.status !== 'AVAILABLE' }">
                    <div class="top" ng-class="{ item: display.equipment }">
                        <div class="image-container">
                        <img ng-src="[[equipment.image]]" ng-show="equipment.image!==null && equipment.image!==undefined " />
                        <img skin-src="/img/illustrations/pages-default.png" ng-show="equipment.image===null || equipment.image===undefined "/>
                        </div>
                        <strong class="ellipsis">[[equipment.name]]</strong>
                        <em class="metadata">[[equipment.contract_name]]</em>
                        <p class="description" ng-if="equipment.ean"><i></i> <b> EAN :  </b> [[equipment.ean]] </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="cell catalog-list twelve" ng-if="equipments.loading">
        <div class="dominos item_hover_accent_list loading-domino">
            <div class="item six-mobile" ng-repeat="x in [].constructor(15) track by $index">
                <article class="domino loading-domino">
                    <div class="loading-bar" ng-class="{loading: equipments.loading}"></div>
                    <div class="top">
                        <div class="image-container">
                            <div class="grey-matter grey-image">&nbsp;</div>
                        </div>
                        <strong class="grey-matter">&nbsp;</strong>
                        <p class="grey-matter max-60">&nbsp;</p>
                        <p class="grey-matter max-60">&nbsp;</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <container template="right-side"></container>
</div>