<div ng-controller="catalogController" class="catalog" bottom-scroll="nbItemsDisplay = nbItemsDisplay + pageSize">
    <div class="cell twelve horizontal-spacing search-pagination vertical-spacing-twice">
        <a ng-show="display.equipment" class="zero block-mobile"
            href="#/equipments/catalog">
            <i class="angle-double-left horizontal-spacing"></i>
            <i18n>back.to.catalog</i18n>
        </a>
        <div class="row twelve" ng-show="!display.equipment">
            <div class="search-bar">
                <i class="search padding-20"></i>
                <input class="twelve"
                       type="text"
                       ng-keyup="$event.keyCode == 13 ? addFilter($event) : null"
                       i18n-placeholder="search.filter.catalog"/>
            </div>
        </div>
    </div>
    <div class="row">
        <button ng-click="initPopUpFilters('showPopUpColumnsSubject')"
                class="filterButton">
            <i class="school"></i>
            <span><i18n>Subjects</i18n></span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsSubject">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsSubject">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsSubject}" class="right-magnet columns-popup">
                    <label class="columns-popup-items left-text ellipsis" ng-class="{'open' : showPopUpColumnsSubject}"
                           ng-repeat="subject in equipments.subjects | orderBy:'name'">
                        <input type="checkbox" ng-model = "subject.isChecked" ng-change="getFilter(subject.name, 'disciplines.libelle')"/>
                        <span>[[subject.name]]</span>
                    </label>
                </div>
            </div>
        </button>
        <button ng-click="initPopUpFilters('showPopUpColumnsPublic')"
                class="filterButton">
            <i class="user"></i>
            <span><i18n>Public</i18n></span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsPublic">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsPublic">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsPublic}" class="right-magnet columns-popup">
                    <label class="columns-popup-items left-text ellipsis" ng-class="{'open' : showPopUpColumnsPublic}"
                           ng-repeat="public in equipments.public | orderBy:'name'">
                        <input type="checkbox" ng-model = "public.isChecked" ng-change="getFilter(public.name, 'publiccible')"/>
                        <span>[[lang.translate(public.name)]]</span>
                    </label>
                </div>
            </div>
        </button>
        <button ng-click="initPopUpFilters('showPopUpColumnsGrade')"
                class="filterButton">
            <i class="star-circle"></i>
            <span><i18n>Grades</i18n></span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsGrade">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsGrade">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsGrade}" class="right-magnet columns-popup">
                    <label class="columns-popup-items left-text ellipsis" ng-class="{'open' : showPopUpColumnsGrade}"
                           ng-repeat="grade in equipments.grades | orderBy:'name'">
                        <input type="checkbox" ng-model = "grade.isChecked" ng-change="getFilter(grade.name, 'niveaux.libelle')">
                        <span>[[grade.name]]</span>
                    </label>
                </div>
            </div>
        </button>
        <button ng-click="initPopUpFilters('showPopUpColumnsDocumentsTypes')"
                class="filterButton">
            <i class="book-variant"></i>
            <span><i18n>Types.of.documents</i18n></span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsDocumentsTypes">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsDocumentsTypes">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsDocumentsTypes}" class="right-magnet columns-popup">
                    <label class="columns-popup-items left-text ellipsis" ng-class="{'open' : showPopUpColumnsDocumentsTypes}"
                           ng-repeat="docType in equipments.docsType | orderBy:'name'">
                        <input type="checkbox" ng-model = "docType.isChecked" ng-change="getFilter(docType.name, '_index')"/>
                        <span>[[lang.translate(docType.name)]]</span>
                    </label>
                </div>
            </div>
        </button>
        <button ng-click="initPopUpFilters('showPopUpColumnsEditor')"
                class="filterButton">
            <i class="editor"></i>
            <span><i18n>Editors</i18n></span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsEditor">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsEditor">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsEditor}" class="right-magnet columns-popup">
                    <label class="columns-popup-items left-text ellipsis" ng-class="{'open' : showPopUpColumnsEditor}"
                           ng-repeat="editor in equipments.editors | orderBy:'name'">
                        <input type="checkbox" ng-model = "editor.isChecked" ng-change="getFilter(editor.name, 'editeur')"/>
                        <span>[[editor.name]]</span>
                    </label>
                </div>
            </div>
        </button>
        <!--<button ng-click="initPopUpFilters('showPopUpColumnsOS')"
                class="filterButton">
            <i class="phone-infos"></i>
            <span>OS</span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsOS">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsOS">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsOS}" class="right-magnet columns-popup">
                    <label class="columns-popup-items left-text" ng-class="{'open' : showPopUpColumnsOS}"
                           ng-repeat="os in equipments.os | orderBy:'name'">
                        <input type="checkbox" ng-model = "editor.isChecked" ng-change="getFilter(os.name, 'technos.technologie')">
                        <span class="columns-popup-span">[[os.name]]</span>
                    </label>
                </div>
            </div>
        </button>-->
    </div>
    <div class="row">
        <div style="margin:0.5em">
            <div class="cell field ng-scope" ng-repeat="subject in equipments.subjects | filter: { isChecked: true }">
                <span ng-show="$first && subject.isChecked" class="bold-font-weight">&nbsp;Disciplines : </span>
                <span ng-if="subject.isChecked" ng-class="{'margin-right-10' : $last}">[[subject.name]]</span>
                <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
            </div>
            <div class="cell field ng-scope" ng-repeat="public in equipments.public | filter: { isChecked: true }">
                <span ng-show="$first && public.isChecked" class="bold-font-weight">&nbsp;Niveaux : </span>
                <span ng-if="public.isChecked" ng-class="{'margin-right-10' : $last}">[[lang.translate(public.name)]]</span>
                <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
            </div>
            <div class="cell field ng-scope" ng-repeat="grade in equipments.grades | filter: { isChecked: true }">
                <span ng-show="$first && grade.isChecked" class="bold-font-weight">&nbsp;Niveaux : </span>
                <span ng-if="grade.isChecked" ng-class="{'margin-right-10' : $last}">[[grade.name]]</span>
                <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
            </div>
            <div class="cell field ng-scope" ng-repeat="docType in equipments.docsType | filter: { isChecked: true }">
                <span ng-show="$first && docType.isChecked" class="bold-font-weight">&nbsp;Types de documents : </span>
                <span ng-if="docType.isChecked" ng-class="{'margin-right-10' : $last}">[[lang.translate(docType.name)]]</span>
                <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
            </div>
            <div class="cell field ng-scope" ng-repeat="editor in equipments.editors | filter: { isChecked: true }">
                <span ng-show="$first && editor.isChecked" class="bold-font-weight">&nbsp;Editeur : </span>
                <span ng-if="editor.isChecked" ng-class="{'margin-right-10' : $last}">[[editor.name]]</span>
                <span ng-repeat-end ng-if="!$last">,&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="cell catalog-list twelve">
        <div class="dominos item_hover_accent_list">
            <div class="item six-mobile"
                 ng-class="{disabled: equipment.status!== 'DISPONIBLE', 'list-item': display.equipment}"
                 ng-repeat="equipment in equipments.all | limitTo:nbItemsDisplay track by $index"
                 ng-click="openEquipment(equipment)">

                <h1 ng-class="{disabled: equipment.status !== 'DISPONIBLE'} " ng-show="equipment.status!== 'DISPONIBLE'">
                    <i18n ng-if="equipment.status === 'UNAVAILABLE'">crre.UNAVAILABLE</i18n>
                    <i18n ng-if="equipment.status === 'EPUISE'">crre.OUT_OF_STOCK</i18n>
                </h1>

                <article class="domino"  ng-class="{ disabled: equipment.status !== 'DISPONIBLE' }">
                    <div class="top" ng-class="{ item: display.equipment }">
                        <div class="image-container">
                            <img ng-src="[[equipment.urlcouverture]]" ng-show="equipment.urlcouverture!==null && equipment.urlcouverture!==undefined" alt=""/>
                            <img skin-src="/img/illustrations/pages-default.png" ng-show="equipment.urlcouverture===null || equipment.urlcouverture===undefined" alt=""/>
                        </div>
                        <div>
                            <strong class="ellipsis" tooltip="[[equipment.titre]]">[[equipment.titre]]</strong>
                            <p class="description" ng-if="equipment.ean"><i></i> <b> EAN :  </b> [[equipment.ean]] </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="item six-mobile" ng-repeat="x in [].constructor(pageSize) track by $index" ng-if="equipments.loading">
                <article class="domino loading-domino">
                    <div class="loading-bar" ng-class="{loading: equipments.loading}"></div>
                    <div class="top">
                        <div class="image-container">
                            <div class="grey-matter grey-image">&nbsp;</div>
                        </div>
                        <div class="data-container">
                            <strong class="grey-matter">&nbsp;</strong>
                            <p class="grey-matter max-60">&nbsp;</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>