<div ng-controller="catalogController" class="catalog" bottom-scroll="nbItemsDisplay = nbItemsDisplay + pageSize">
    <div class="cell twelve horizontal-spacing search-pagination vertical-spacing-twice">
        <a ng-show="display.equipment" class="zero block-mobile"
            href="#/equipments/catalog">
            <i class="angle-double-left horizontal-spacing"></i>
            <i18n>back.to.catalog</i18n>
        </a>
        <div class="row twelve" ng-show="!display.equipment">
            <div class="search-bar">
                <i class="search padding-20"></i>
                <input class="twelve"
                       type="text"
                       ng-keyup="addFilter($event)"
                       i18n-placeholder="search.filter.catalog">
            </div>
        </div>
    </div>
    <div class="row horizontal-spacing">
        <div class="select-blocks">
            <div ng-repeat="filter in equipments.sort.filters"
                 ng-click="dropEquipmentFilter(filter)"
                 class="labels-in-ligne">
                <div> [[ filter ]]</div>
            </div>
        </div>
    </div>
    <div class="row" ng-init="getFilters()">
        <button ng-click="initPopUpFilters('showPopUpColumnsSubject')"
                class="filterButton">
            <i class="school"></i>
            <span>Disciplines</span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsSubject">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsSubject">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsSubject}" class="right-magnet first-column-popup columns-popup">
                    <label class="columns-popup-items" ng-repeat="subject in equipments.subjects">
                        <input type="checkbox" ng-model = "subject.isChecked" ng-change="getFilter(subject.name, 'subject_name')">
                        <span>[[subject.name]]</span>
                    </label>
                </div>
            </div>
        </button>
        <button ng-click="initPopUpFilters('showPopUpColumnsDiplomes')"
                class="filterButton">
            <i class="star-circle"></i>
            <span>Diplômes</span>
        </button>
        <button ng-click="initPopUpFilters('showPopUpColumnsGrade')"
                class="filterButton">
            <i class="star-circle"></i>
            <span>Niveaux</span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsGrade">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsGrade">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsGrade}" class="right-magnet columns-popup">
                    <label class="columns-popup-items" ng-repeat="grade in equipments.grades">
                        <input type="checkbox" ng-model = "grade.isChecked" ng-change="getFilter(grade.name, 'grade_name')">
                        <span>[[grade.name]]</span>
                    </label>
                </div>
            </div>
        </button>
        <button ng-click="initPopUpFilters('showPopUpColumnsDocumentsTypes')"
                class="filterButton">
            <i class="book-variant"></i>
            <span>Types de documents</span>
        </button>
        <button ng-click="initPopUpFilters('showPopUpColumnsEditor')"
                class="filterButton">
            <i class="editor"></i>
            <span>Éditeurs</span>
            <div class="columns-popup-wrapper right-magnet">
                <div class="right-magnet columns-popup-button">
                    <span ng-show="showPopUpColumnsEditor">&#x25B2;</span>
                    <span ng-hide="showPopUpColumnsEditor">&#x25BC;</span>
                </div>
                <div ng-class="{'open' : showPopUpColumnsEditor}" class="right-magnet columns-popup">
                    <label class="columns-popup-items" ng-repeat="editor in equipments.editors">
                        <input type="checkbox" ng-model = "editor.isChecked" ng-change="getFilter(editor.name, 'editor_name')">
                        <span>[[editor.name]]</span>
                    </label>
                </div>
            </div>
        </button>
        <button ng-click="initPopUpFilters('showPopUpColumnsOS')"
                class="filterButton">
            <i class="phone-infos"></i>
            <span>OS</span>
        </button>
    </div>
    <div class="cell catalog-list twelve">
        <div class="dominos item_hover_accent_list">
            <div class="item six-mobile"
                 ng-class="{disabled: equipment.status!== 'AVAILABLE', 'list-item': display.equipment}"
                 ng-repeat="equipment in equipments.all | limitTo:nbItemsDisplay track by $index"
                 ng-click="openEquipment(equipment)">

                <h1 ng-class="{disabled: equipment.status !== 'AVAILABLE'} " ng-show="equipment.status!== 'AVAILABLE'">
                    <i18n ng-if="equipment.status === 'UNAVAILABLE'">crre.UNAVAILABLE</i18n>
                    <i18n ng-if="equipment.status === 'OUT_OF_STOCK'">crre.OUT_OF_STOCK</i18n>
                </h1>

                <article class="domino"  ng-class="{ disabled: equipment.status !== 'AVAILABLE' }">
                    <div class="top" ng-class="{ item: display.equipment }">
                        <div class="image-container">
                            <img ng-src="[[equipment.image]]" ng-show="equipment.image!==null && equipment.image!==undefined " />
                            <img skin-src="/img/illustrations/pages-default.png" ng-show="equipment.image===null || equipment.image===undefined "/>
                        </div>
                        <div>
                            <strong class="ellipsis">[[equipment.name]]</strong>
                            <p class="description" ng-if="equipment.ean"><i></i> <b> EAN :  </b> [[equipment.ean]] </p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="item six-mobile" ng-repeat="x in [].constructor(pageSize) track by $index" ng-if="equipments.loading">
                <article class="domino loading-domino">
                    <div class="loading-bar" ng-class="{loading: equipments.loading}"></div>
                    <div class="top">
                        <div class="image-container">
                            <div class="grey-matter grey-image">&nbsp;</div>
                        </div>
                        <div class="data-container">
                            <strong class="grey-matter">&nbsp;</strong>
                            <p class="grey-matter max-60">&nbsp;</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <container template="right-side"></container>
</div>