<div ng-controller="catalogController" class="catalog">
    <div class="twelve equipment-detail">
    <div class="margin-top-20 margin-bottom-20">
        <a ng-show="display.equipment" ng-href="[[goBackUrl]]">
            <i class="back nav-arrow horizontal-spacing"></i>
            <strong><i18n>back.to.catalog</i18n></strong>
        </a>
    </div>
        <div class="warning center bold" ng-if="basket.equipment.structure_already_payed && !isAdministrator()">
            <span><i18n>crre.structure.already.payed.ressource</i18n></span>
        </div>
        <div class="card row padding-20" ng-show="display.equipment">
        <h1 class="eight cell">[[basket.equipment.titre]] </h1>
        <div class="twelve-small padding-20 cell right-magnet twelve-mobile" ng-style="{height: offers.all.length > 1 ? '400px' : '250px'}" >
            <div ng-if="basket.equipment.type === 'articlenumerique'" id="box">
                <input type="radio" id="item_1" name="box" checked />
                <label for="item_1" class="labeltab">
                    Licences élèves
                    <div class="contentTab">
                        <div class="boxF">
                            <div ng-if="!isAdministrator()" workflow="crre.prescriptor"></div>
                            <div ng-if="!isAdministrator()" workflow="crre.prescriptor" class="centerColumn">
                                <span class="italic16">Quantité</span>
                            </div>
                            <div ng-if="!isAdministrator()" workflow="crre.prescriptor">
                               <span class="bold15"><i18n>Licences élèves</i18n></span>
                            </div>
                            <div class="centerColumnInput" ng-if="!isAdministrator()" workflow="crre.prescriptor">
                                <i class="moins verticalAlignMiddle" ng-click="amountDecrease()"></i>
                                <input type="number" step="1" min="0" ng-keypress="avoidDecimals($event)" class="aligne-text-center numberWithoutArrow three ng-pristine ng-untouched ng-valid ng-valid-min" ng-change="computeOffer()" ng-model="basket.amount">
                                <i class="plus verticalAlignMiddle" ng-click="amountIncrease()"></i>
                            </div>
                            <div>
                                <span class="grayUnderline"><i18n>crre.equipment.offer.free</i18n></span>
                            </div>
                            <div></div>
                            <div ng-if="!!offerTeacher">
                                <span class="gray12" ng-bind="offerTeacher.split(',', 1).toString().concat(' ', 'licences élèves achetées')"></span>
                            </div>
                            <div ng-if="!!offerTeacher"></div>
                            <div ng-if="!!offerStudent">
                                <span class="gray12" ng-bind="offerStudent.split(',', 1).toString().concat(' ', 'licences élèves achetées')"></span>
                            </div>
                            <div ng-if="!!offerStudent"></div>
                            <div ng-if="!!offerStudent || !!offerTeacher"><span class="grayUnderlineBold" ng-click="scrollTo('offer')">Voir plus</span></div>
                            <div ng-if="!!offerStudent || !!offerTeacher"></div>
                        </div>
                        <div class="boxF" ng-repeat="offer in offers.all">
                            <div>
                                <span class="bold15" ng-bind="lang.translate(offer.name)"></span>
                            </div>
                            <div class="centerColumn">
                                <span class="bold15">[[offer.value]]</span>
                            </div>
                        </div>
                        <div ng-if="!isAdministrator()" workflow="crre.prescriptor" class="boxF">
                            <div></div>
                            <div class="row vertical-spacing centerColumn" ng-if="basket.id_campaign == undefined"><input type="button" ng-disabled="!validArticle()" ng-click="chooseCampaign()" i18n-value="crre.add.to.basket" /> </div>
                            <div class="row vertical-spacing centerColumn" ng-if="!(basket.id_campaign == undefined)"><input type="button" ng-disabled="!validArticle() && basket.id_campaign === undefined" ng-click="addBasketItem(basket)" i18n-value="crre.add.to.basket" /> </div>
                        </div>
                    </div>
                </label>
                <input type="radio" id="item_2" name="box" />
                <label for="item_2" class="labeltab">
                    Licences élèves adoptant
                    <div class="contentTab">
                        A voir...
                    </div>
                </label>
            </div>
            <div ng-if="basket.equipment.type === 'articlepapier'" id="box2">
                    <div class="contentTabPaper">
                        <div class="boxF">
                            <div>
                                <span class="bold22"><i18n>Manuels élèves</i18n></span>
                            </div>
                            <div></div>
                            <div ng-if="!isAdministrator()" workflow="crre.prescriptor"></div>
                            <div ng-if="!isAdministrator()" workflow="crre.prescriptor" class="centerColumn">
                                <span class="italic16">Quantité</span>
                            </div>
                            <div ng-if="!isAdministrator()" workflow="crre.prescriptor">
                                <span class="bold15"><i18n>Quantité Manuels élèves</i18n></span>
                            </div>
                            <div ng-if="!isAdministrator()" workflow="crre.prescriptor" class="centerColumnInput">
                                <i class="moins verticalAlignMiddle" ng-click="amountDecrease()"></i>
                                <input type="number" step="1" min="0" ng-keypress="avoidDecimals($event)" class="aligne-text-center numberWithoutArrow three ng-pristine ng-untouched ng-valid ng-valid-min" ng-change="computeOffer()" ng-model="basket.amount">
                                <i class="plus verticalAlignMiddle" ng-click="amountIncrease()"></i>
                            </div>
                        </div>
                        <div ng-if="!isAdministrator()" workflow="crre.prescriptor" class="boxF">
                            <div></div>
                            <div class="row vertical-spacing centerColumn" ng-if="basket.id_campaign == undefined"><input type="button" ng-disabled="!validArticle()" ng-click="chooseCampaign()" i18n-value="crre.add.to.basket" /> </div>
                            <div class="row vertical-spacing centerColumn" ng-if="!(basket.id_campaign == undefined)"><input type="button" ng-disabled="!validArticle() && basket.id_campaign === undefined" ng-click="addBasketItem(basket)" i18n-value="crre.add.to.basket" /> </div>
                        </div>
                    </div>
            </div>
<!--            <div class="add-basket centered row twelve vertical-spacing twelve-mobile">
                <div class="twelve cell">
                    <h4 class="cell"><i18n>etablissement.price</i18n></h4>
                    <h3 class="right-text">[[calculatePriceOfEquipment(basket.equipment,2) | currency]]<i18n>per.student.per.year</i18n></h3>
                </div>
                <div class="twelve cell" ng-if="!isAdministrator()" workflow="crre.prescriptor">
                    <div class="quantity">
                        <h4 class="cell" style="margin-left: 83px"><i18n>crre.quantity</i18n></h4>
                        <div class="right-text">
                            <i class="moins" ng-click="amountDecrease()"></i>
                            <input type="number"
                                   step="1"
                                   min="0"
                                   ng-keypress="avoidDecimals($event)"
                                   class="numberWithoutArrow two"
                                   ng-model="basket.amount"/>
                            <i class="plus" ng-click="amountIncrease()"></i>
                        </div>
                    </div>
                    <div class="row vertical-spacing"><input type="button" ng-show="basket.id_campaign == undefined" ng-disabled="!validArticle()" ng-click="chooseCampaign()" i18n-value="crre.add.to.basket" /> </div>
                    <div class="row vertical-spacing"><input type="button" ng-show="!(basket.id_campaign == undefined)" ng-disabled="!validArticle() && basket.id_campaign === undefined" ng-click="addBasketItem(basket)" i18n-value="crre.add.to.basket" /> </div>
                </div>
            </div>-->
        </div>
        <div class="thirteen-small cell twelve-mobile">
            <div class="two cell twelve-mobile margin-right-4">
                <img class="img-equipment" ng-src="[[basket.equipment.urlcouverture]]" ng-show="basket.equipment.urlcouverture!==null && basket.equipment.urlcouverture!==undefined " />
                <img class="img-equipment" skin-src="/img/illustrations/pages-default.png" ng-show="basket.equipment.urlcouverture===null || basket.equipment.urlcouverture===undefined "/>
            </div>
            <div class="editor" ng-show="!!basket.equipment.editeur" >
                <div ng-bind-html="basket.equipment.editeur"></div>
            </div>
            <div ng-show="!!basket.equipment.description" >
                <p ng-bind-html="basket.equipment.description"></p>
            </div>
        </div>
        <div class="twelve cell" id="offer">
            <h2>
                <i18n>crre.information</i18n>
            </h2>
            <table class="table twelve">
                <tbody>
                <tr ng-if="!!basket.equipment.editeur">
                    <td class="one"><strong><i18n>crre.equipment.editor</i18n></strong></td>
                    <td>[[basket.equipment.editeur]]</td>
                </tr>
                <tr ng-if="!!basket.equipment.auteur">
                    <td class="one"><strong><i18n>crre.equipment.author</i18n></strong></td>
                    <td>[[basket.equipment.auteur]]</td>
                </tr>
                <tr ng-if="!!basket.equipment.dateparution">
                    <td class="one"><strong><i18n>crre.date</i18n></strong></td>
                    <td>[[basket.equipment.dateparution]]</td>
                </tr>
                <tr ng-if="!!basket.equipment.discipline">
                    <td class="one"><strong><i18n>crre.equipment.field</i18n></strong></td>
                    <td>[[basket.equipment.discipline]]</td>
                </tr>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.level</i18n></strong></td>
                    <td ng-bind="formatGrade(basket.equipment.niveaux)"></td>
                </tr>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.ean</i18n></strong></td>
                    <td>[[basket.equipment.ean]]</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="twelve cell" ng-if="basket.equipment.offres">
            <h2>
                <i18n>crre.equipment.details</i18n>
            </h2>
            <table class="table twelve">
                <tbody>
                <tr ng-if="!!basket.equipment.offres[0]">
                    <td class="one"><strong><i18n>crre.equipment.duration</i18n></strong></td>
                    <td ng-bind="basket.equipment.offres[0].duree"></td>
                </tr>
                <tr ng-if="!!offerStudent">
                    <td class="one"><strong><i18n>crre.equipment.conditions</i18n></strong></td>
                    <td>[[offerStudent]]</td>
                </tr>
                <tr ng-if="!!offerTeacher">
                    <td class="one"><strong><i18n>crre.equipment.conditions</i18n></strong></td>
                    <td>[[offerTeacher]]</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="twelve cell" ng-if="basket.equipment.technos">
            <h2>
                <i18n>Détails Techniques</i18n>
            </h2>
            <table class="table six">
                <tbody>
                <tr ng-repeat="label in labels">
                    <td class="bold-font-weight" ng-bind="lang.translate(label)"></td>
                    <td class="center" ng-repeat="techno in basket.equipment.technos" ng-bind="lang.translate(techno[label])"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="twelve cell" ng-if="basket.equipment.tvas && basket.equipment.tvas.length > 0">
            <h2>
                <i18n>crre.tax</i18n>
            </h2>
            <table class="table twelve">
                <thead>
                <tr>
                    <td><i18n>crre.tax</i18n></td>
                    <td><i18n>crre.percentage</i18n></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="tva in basket.equipment.tvas">
                    <td class="one"><strong>[[tva.taux]]</strong></td>
                    <td>[[tva.pourcent]]</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
    <lightbox show="display.lightbox.choosecampaign" on-close="cancelChooseCampaign()">
        <container template="campaign.name"></container>
    </lightbox>
</div>