<div ng-controller="catalogController" class="catalog">
    <div class="twelve equipment-detail">
    <div class="vertical-spacing-20">
        <a ng-show="display.equipment" href="#/equipments/catalog">
            <i class="back nav-arrow horizontal-spacing"></i>
            <strong><i18n>back.to.catalog</i18n></strong>
        </a>
    </div>
    <div class="card row padding-20" ng-show="display.equipment">
        <h1 class="eight cell">[[basket.equipment.name]] </h1>
        <div class="four cell right-magnet twelve-mobile" >
            <div class="add-basket centered row twelve vertical-spacing twelve-mobile">
                <div class="twelve cell">
                    <h4 class="cell"><i18n>etablissement.price</i18n></h4>
                    <h3 class="right-text">[[calculatePriceOfEquipment(basket.equipment, true, 0) | currency]]<i18n>per.student.per.year</i18n></h3>
                </div>
                <div class="twelve cell" workflow="crre.prescriptor">
                    <div class="quantity">
                        <h4 class="cell" style="margin-left: 83px"><i18n>crre.quantity</i18n></h4>
                        <div class="right-text">
                            <i class="moins" ng-click="amountDecrease()"></i>
                            <input type="number"
                                   step="1"
                                   min="0"
                                   ng-keypress="avoidDecimals($event)"
                                   class="numberWithoutArrow two"
                                   ng-model="basket.amount"/>
                            <i class="plus" ng-click="amountIncrease()"></i>
                        </div>
                    </div>
                    <div class="row vertical-spacing"><input type="button" ng-disabled="!validArticle(basket.equipment)" ng-click="addBasketItem(basket)" i18n-value="crre.add.to.basket" /> </div>
                </div>
            </div>
        </div>
        <div class="eight cell twelve-mobile">
            <div class="two cell twelve-mobile" style="margin-right: 10px;">
                <img class="img-equipment" ng-src="[[basket.equipment.image]]" ng-show="basket.equipment.image!==null && basket.equipment.image!==undefined " />
                <img class="img-equipment" skin-src="/img/illustrations/pages-default.png" ng-show="basket.equipment.image===null || basket.equipment.image===undefined "/>
            </div>
            <div class="editor" ng-show="basket.equipment.editor_name !== null" >
                <div ng-bind-html="basket.equipment.editor_name"></div>
            </div>
            <div ng-show="basket.equipment.description !== null" >
                <p ng-bind-html="basket.equipment.description"></p>
            </div>
        </div>
        <div class="twelve cell">
            <h2>
                <i18n>crre.information</i18n>
            </h2>
            <table class="table twelve">
                <tbody>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.editor</i18n></strong></td>
                    <td>[[basket.equipment.editor_name]]</td>
                </tr>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.author</i18n></strong></td>
                    <td>[[basket.equipment.author]]</td>
                </tr>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.date</i18n></strong></td>
                    <td>[[basket.equipment.parution_date]]</td>
                </tr>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.field</i18n></strong></td>
                    <td>[[basket.equipment.subject_name]]</td>
                </tr>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.level</i18n></strong></td>
                    <td>[[basket.equipment.grade_name]]</td>
                </tr>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.ean</i18n></strong></td>
                    <td>[[basket.equipment.ean]]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="twelve cell">
            <h2>
                <i18n>crre.equipment.details</i18n>
            </h2>
            <table class="table twelve">
                <tbody>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.duration</i18n></strong></td>
                    <td>[[durationFormat(basket.equipment.duration)]]</td>
                </tr>
                <tr>
                    <td class="one"><strong><i18n>crre.tax</i18n></strong></td>
                    <td>[[basket.equipment.tax_amount]] %</td>
                </tr>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.end.availability</i18n></strong></td>
                    <td>[[basket.equipment.end_availability]]</td>
                </tr>
                <tr>
                    <td class="one"><strong><i18n>crre.equipment.offer</i18n></strong></td>
                    <td>[[basket.equipment.offer]]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="twelve cell" ng-show="Array.isArray(basket.equipment.technical_specs) && basket.equipment.technical_specs.length">
            <h2>
                <i18n>SPECIFICATIONS</i18n>
            </h2>
            <table class="table twelve">
                <tbody>
                <tr ng-repeat="technicalSpec in basket.equipment.technical_specs">
                    <td class="one"><strong>[[technicalSpec.name]]</strong></td>
                    <td>[[technicalSpec.value]]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="twelve cell" ng-show="Array.isArray(basket.equipment.options) && basket.equipment.options.length">
            <h2><i18n>crre.equipment.options</i18n></h2>
            <table class="twelve">
                <thead>
                <td class="one">
                    <label class="checkbox" ng-show="thereAreOptionalOptions(basket.equipment)">
                        <input type="checkbox"
                               ng-change="switchAll(alloptionsSelected, basket.equipment.options)"
                               ng-model="alloptionsSelected">
                        <span></span>
                    </label>
                </td>
                <td >
                    &nbsp;
                </td>
                <td class="three">
                    <i18n>crre.price.TTC</i18n>
                </td>
                </thead>
                <tbody>
                <tr  ng-repeat="option in basket.equipment.options">
                    <td  class="one">
                        <label class="checkbox"  ng-show="!option.required">
                            <input type="checkbox" ng-model="option.selected">
                            <span></span>
                        </label>
                        <label class="checkbox"  ng-show="option.required" >
                            <input type="checkbox" checked disabled>
                            <span></span>
                        </label>
                    </td>
                    <td >[[option.name]]</td>
                    <td class="three"><span ng-bind="calculatePriceTTC(option.price, option.tax_amount, 2) | currency"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>