<div ng-controller="catalogController" class="catalog">
    <div class="twelve equipment-detail">
    <div class="vertical-spacing-20">
        <a ng-show="display.equipment" href="#/campaign/[[campaign.id]]/catalog">
            <i style = "color: #e6a618" class="back nav-arrow horizontal-spacing"></i>
            <i18n style="font-weight: bold">back.to.catalog</i18n>
        </a>
    </div>
    <div class="card row padding-20" ng-show="display.equipment">
        <h1 class="row">[[basket.equipment.name]] </h1>
        <div class="twelve cell">
            <div class="four cell twelve-mobile">
                <img class="img-equipment" ng-src="[[basket.equipment.image]]" ng-show="basket.equipment.image!==null && basket.equipment.image!==undefined " />
                <img class="img-equipment" skin-src="/img/illustrations/pages-default.png" ng-show="basket.equipment.image===null || basket.equipment.image===undefined "/>
            </div>
            <div class="summary" ng-show="basket.equipment.description !== null" >
                <p ng-bind-html="basket.equipment.description"></p>
            </div>
            <div class="three cell right-magnet twelve-mobile" >
                <article class="add-basket centered row twelve vertical-spacing twelve-mobile">
                    <div class="twelve cell twelve-mobile">
                        <h1 class="right-text" ng-bind="calculatePriceOfEquipment(basket.equipment, true, 2) | currency"></h1>
                    </div>
                    <div class="five cell twelve-mobile right-magnet">
                        <div class="quantity">
                            <h4 class="cell"><i18n>crre.quantity</i18n></h4>
                            <i class="moins" ng-click="amountDecrease()"></i>
                            <input type="number"
                                   step="1"
                                   min="0"
                                   ng-keypress="avoidDecimals($event)"
                                   class="numberWithoutArrow three"
                                   ng-model="basket.amount"/>
                            <i class="plus" ng-click="amountIncrease()"></i>
                        </div>
                        <div class="centered-text row"><input type="button" ng-disabled="!validArticle(basket.equipment)" ng-click="addBasketItem(basket)" i18n-value="crre.add.to.basket" /> </div>

                    </div>
                </article>
            </div>
        </div>
        <div>
            <h2>
                <i18n>crre.information</i18n>
            </h2>
            <table class="table">
                <tbody>
                <tr>
                    <td><i18n>crre.equipment.editor</i18n></td>
                    <td>[[basket.equipment.editor_name]]</td>
                </tr>
                <tr>
                    <td><i18n>crre.equipment.author</i18n></td>
                    <td>[[basket.equipment.author]]</td>
                </tr>
                <tr>
                    <td><i18n>crre.equipment.date</i18n></td>
                    <td>[[basket.equipment.parution_date]]</td>
                </tr>
                <tr>
                    <td><i18n>crre.equipment.field</i18n></td>
                    <td>[[basket.equipment.subject_name]]</td>
                </tr>
                <tr>
                    <td><i18n>crre.equipment.level</i18n></td>
                    <td>[[basket.equipment.grade_name]]</td>
                </tr>
                <tr>
                    <td><i18n>crre.equipment.ean</i18n></td>
                    <td>[[basket.equipment.ean]]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h2>
                <i18n>crre.equipment.details</i18n>
            </h2>
            <table class="table">
                <tbody>
                <tr>
                    <td><i18n>crre.equipment.duration</i18n></td>
                    <td></td>
                </tr>
                <tr>
                    <td><i18n>crre.equipment.end.availability</i18n></td>
                    <td></td>
                </tr>
                <tr>
                    <td><i18n>crre.equipment.offer</i18n></td>
                    <td></td>
                </tr>
                <tr>
                    <td><i18n>crre.tax</i18n></td>
                    <td>[[basket.equipment.tax_amount]]</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="basket.equipment.technical_specs.length !== 0">
            <h2>
                <i18n>SPECIFICATIONS</i18n>
            </h2>
            <div class="row technical-specs">
                <div class="technical-spec twelve row"
                     ng-repeat="technicalSpec in basket.equipment.technical_specs">
                    <div class="five cell horizontal-spacing bold">
                        [[technicalSpec.name]]
                    </div>
                    <div class="six cell horizontal-spacing">
                        [[technicalSpec.value]]
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="basket.equipment.options.length !== 0">
            <h2><i18n>crre.equipment.options</i18n></h2>
            <table class="twelve">
                <thead>
                <td class="one">
                    <label class="checkbox" ng-show="thereAreOptionalOptions(basket.equipment)">
                        <input type="checkbox"
                               ng-change="switchAll(alloptionsSelected, basket.equipment.options)"
                               ng-model="alloptionsSelected">
                        <span></span>
                    </label>
                </td>
                <td >
                    &nbsp;
                </td>
                <td class="three">
                    <i18n>crre.price.TTC</i18n>
                </td>
                </thead>
                <tbody>
                <tr  ng-repeat="option in basket.equipment.options">
                    <td  class="one">
                        <label class="checkbox"  ng-show="!option.required">
                            <input type="checkbox" ng-model="option.selected">
                            <span></span>
                        </label>
                        <label class="checkbox"  ng-show="option.required" >
                            <input type="checkbox" checked disabled>
                            <span></span>
                        </label>
                    </td>
                    <td >[[option.name]]</td>
                    <td class="three"><span ng-bind="calculatePriceTTC(option.price, option.tax_amount, 2) | currency"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>