<div ng-if="campaign.purse_enabled" class="confirm-order" ng-controller="basketConfirmationNameController">
    <div class="row">
        <h1><i18n>crre.validate.basket</i18n></h1>
        <form>
            <label><i18n>crre.basket.name</i18n></label>
            <input type="text" ng-model="basket_name"/>
        </form>
    </div>

    <div class="row">
        <input type="submit" class="button right-magnet " ng-click="takeClientOrder(basket_name)" i18n-value="Confirmer"/>
        <input type="button" class="cancel margin-right-10 right-magnet " ng-click="cancelConfirmBasketName()" i18n-value="cancel"/>
    </div>
</div>
