<div ng-controller="basketController">
    <div ng-show="baskets.all.length > 0">
        <div class="right-magnet twelve-mobile" style="margin-top: -20px; margin-bottom: -10px;">
            <h3 class="cell horizontal-margin horizontal-spacing ng-binding no-margin-bottom">
                <span class="black-color"><i18n>crre.total.licences</i18n> : </span>
                <span ng-bind="calculateQuantity(baskets,false)"></span>
            </h3>
            <br/>
            <h3 class="cell horizontal-margin horizontal-spacing ng-binding margin-bottom-10 no-margin-top">
                <span class="black-color"><i18n>crre.total.credits</i18n> : </span>
                <span ng-bind="calculatePriceOfEquipments(baskets,2) | currency"></span>
            </h3>
            <input type="button" ng-click="checkPrice(baskets)" i18n-value="crre.take.order"
                   ng-disabled="!campaign.purse_enabled"
                   ng-if="campaign.purse_enabled" style="top:-20px; margin-left:20px"/>
        </div>
        <div>
            <h3 class="black-color">
                <span class="bold-font-weight"><i18n>CAMPAIGN</i18n> : </span>
                <span>[[campaign.name]]</span>
            </h3>
        </div>
    </div>
    <div class="basket-list">
        <div ng-repeat="basket in baskets.all track by $index" class="row">
            <h1 ng-class="{disabled: equipment.status !== 'Disponible'} "
                ng-show="basket.equipment.status !== 'Disponible'">
                <i18n ng-show="basket.equipment.status === 'Epuisé'">crre.OUT_OF_STOCK</i18n>
            </h1>
            <article class="basket-item twelve cell"
                     ng-class="{ openedOptions: display.equipmentOption[$index], disabled: basket.equipment.disponibilite[0].valeur != 'Disponible' }">
                <div class="cell width-40">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="basket.selected"
                               ng-checked="basket.selected"/>
                        <span></span>
                    </label>
                </div>
                <div class="cell width-100-40">
                    <div class="row article-equipment">
                        <div class="one cell basket-image zero-mobile" ng-click="openEquipmentId(basket.equipment.id)">
                            <img ng-src="[[basket.equipment.urlcouverture]]"
                                 ng-show="basket.equipment.urlcouverture"/>
                            <img src="/crre/public/img/pages-default.png"
                                 ng-show="!basket.equipment.urlcouverture"/>
                        </div>
                        <div class="cell eight" ng-click="openEquipmentId(basket.equipment.id)">
                            <div class="eleven centered">
                                <h3 class="margin-top-2">[[basket.equipment.titre]]</h3>
                                <div class="editor" ng-show="!!basket.equipment.editeur">
                                    <div ng-bind-html="basket.equipment.editeur"></div>
                                </div>
                                <p class="ean" ng-if="basket.equipment.ean"><i></i> <b> EAN : </b> &nbsp;
                                    [[basket.equipment.ean]] </p>
                                <h5 ng-hide="basket.equipment.disponibilite[0].valeur != 'Disponible'"> Plus d'infos sur
                                    la ressource</h5>
                                <div ng-repeat="offer in basket.offers.all" ng-if="basket.offers.all.length > 0"
                                     ng-repeat-end>
                                    <span class="arrowOffer no-margin"> [[offer.value]] [[offer.name]] [[lang.translate('crre.FREE')]]</span>
                                </div>
                            </div>
                        </div>
                        <div class="boxBasket">
                            <div>
                                <span class="cell font20 black-color"><i18n>crre.quantity</i18n></span>
                            </div>
                            <div class="centerColumnInput">
                                <i class="moins verticalAlignMiddle" ng-click="basket.amountDecrease()"></i>
                                <input type="number" step="1" min="0" ng-keypress="avoidDecimals($event)"
                                       class="aligne-text-center numberWithoutArrow three ng-pristine ng-untouched ng-valid ng-valid-min"
                                       ng-change="basket.updateAmount()" ng-model="basket.amount"/>
                                <i class="plus verticalAlignMiddle" ng-click="basket.amountIncrease()"></i>
                            </div>
                            <div>
                                <span class="cell font20 black-color"><i18n>price</i18n></span>
                            </div>
                            <div class="centerColumnInput">
                                <span class="black-color font20"
                                      ng-bind="Utils.calculatePriceOfBasket(basket , 2, true) | currency"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="twelve cell commentDelete">
                    <div class="row" ng-init="basket.commentOnEdition = false;">
                                <span ng-if="(basket.comment === null || basket.comment.trim() === '') && !basket.commentOnEdition"
                                      style="font-style: italic">
                                    <i18n>crre.basket.no-comment</i18n>
                                </span>
                        <span ng-if="basket.comment !== null && !basket.commentOnEdition"
                              ng-click="basket.commentOnEdition = true" tooltip="Modifier le commentaire">
                                    [[basket.comment]]
                                </span>
                        <textarea style="resize: none;" ng-model="basket.comment"
                                  auto-height
                                  ng-if="basket.commentOnEdition"
                                  ng-blur="basket.commentOnEdition = false; updateBasketComment(basket)"></textarea>
                    </div>
                    <div class="row addComment">
                                <span ng-if="basket.comment === null || basket.comment===''"
                                      ng-click="basket.commentOnEdition = true">
                                    <i18n>crre.basket.add-comment</i18n>
                                </span>
                        <span ng-if="basket.comment && basket.comment!=='' && !basket.commentOnEdition"
                              ng-click="basket.commentOnEdition = true">
                                    <i18n>crre.update.comment</i18n>
                                </span>
                        <div class="cell right-magnet">
                            <input type="button" ng-click="deleteBasket(basket)"
                                   class="right-magnet cancel" i18n-value="delete"/>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div ng-show="baskets.all.length === 0" class="centered">
        <div class="twelve cell centered-text">
            <h3>
                <i18n>crre.info.empty.basket.1</i18n>
                <span class="bold-font-weight secondary-color"><i18n>crre.info.empty.2</i18n></span>
            </h3>
        </div>
<!--        <br/>-->
<!--        <div class="twelve cell centered-text vertical-spacing">-->
<!--            <img class="four" src="/crre/public/img/PagePanierVide.svg"/>-->
<!--        </div>-->
    </div>
    <lightbox show="display.lightbox.confirmbasketName" on-close="cancelConfirmBasketName()">
        <container template="basket.name"></container>
    </lightbox>
</div>