<div class="row margin-top-20 vertical-spacing-twice">
    <div class="min-width-date-picker margin-top-8 twelve-mobile">
        <i18n>from</i18n>
        &#58;&nbsp;
        <!-- start date -->
        <div class="date-picker-style">
            <i class="diary-calendar"></i>
            <date-picker
                    ng-model="vm.filter.startDate"
                    ng-change="vm.applyFilter()"
                    class="input-date-picker-style">
            </date-picker>
        </div>
        &nbsp;&nbsp;&nbsp;
        <i18n>to</i18n>
        &#58;&nbsp;
        <!-- end date -->
        <div class="date-picker-style">
            <i class="diary-calendar"></i>
            <date-picker
                    ng-model="vm.filter.endDate"
                    ng-change="vm.applyFilter()"
                    class="input-date-picker-style">
            </date-picker>
        </div>
    </div>
    <div class="twelve cell">
        <div class="cell two margin-top-8 twelve-mobile">
            <div class="search-bar order-search-bar">
                <i class="search padding-5"></i>
                <input class="twelve"
                       type="text"
                       ng-model="vm.filter.queryName"
                       ng-keyup="$event.keyCode == 13 ? vm.applyFilter() : null"
                       i18n-placeholder="search.filter.order"/>
            </div>
        </div>
        <div class="cell seven twelve-mobile" style="margin-top: 7px;">
            <multi-combo title="[[vm.lang.translate('crre.campaigns')]]"
                         combo-model="vm.campaignList"
                         search-on="name" order-by="campaign"
                         labels="comboLabels" filtered-model="vm.filter.campaignList"
                         selection-event="vm.applyFilter()"
                         deselection-event="vm.applyFilter()"
                         max-selected="10"
                         class="inline-block horizontal-spacing no-border three">
            </multi-combo>
            <multi-combo title="[[vm.lang.translate('crre.request.state')]]"
                         combo-model="vm.statusFilterList"
                         search-on="orderStatusEnum" order-by="orderStatusEnum"
                         labels="comboLabels" filtered-model="vm.filter.statusFilterList"
                         selection-event="vm.applyFilter()"
                         deselection-event="vm.applyFilter()"
                         class="inline-block horizontal-spacing no-border three">
            </multi-combo>
            <multi-combo title="[[vm.lang.translate('crre.lycee')]]"
                         combo-model="vm.structureList"
                         search-on="search" order-by="name"
                         labels="comboLabels" filtered-model="vm.filter.structureList"
                         selection-event="vm.applyFilter()"
                         deselection-event="vm.applyFilter()"
                         max-selected="10"
                         class="inline-block horizontal-spacing no-border four">
            </multi-combo>
        </div>
        <div class="cell one margin-top-14 twelve-mobile" ng-click="vm.openFiltersLightbox()">
            <span class="color-red" style="text-decoration: underline;"><i18n>crre.more.filters</i18n></span>
        </div>
    </div>
    <div class="cell six twelve-mobile" ng-if="vm.haveOneFilterActive()">
        <div class="remove-margin-bottom">
            <div ng-repeat="key in vm.filter.filterChoiceCorrelationKey()" class="select-blocks inline-block">
                <div ng-repeat="item in vm.filter[key]"
                     ng-click="vm.dropElement(item,key)">
                    [[item.toString()]]
                </div>
            </div>
        </div>
    </div>
    <lightbox on-close="vm.closeLightbox();"
              show="vm.displayLightboxWaitingAdmin"
              class="visible-overflow">
        <container template="lightbox.moreFilter"></container>
    </lightbox>
</div>