<div class="row ten centered"  workflow="crre.administrator" ng-controller="campaignFormController">
    <h1>
        <i18n ng-show="campaign.id == undefined">crre.campaigns.add</i18n>
        <i18n ng-show="campaign.id !== undefined">crre.campaigns.modify</i18n>
    </h1>

    <form>
        <article>
            <div class="row horizontal-spacing vertical-spacing">
                <div class="eight cell horizontal-spacing twelve-mobile">
                    <h2><i18n>crre.information.general</i18n></h2>
                    <label class="four vertical-spacing" style = "margin-right: 120px;">
                        <span class="four">
                            <i18n>crre.campaigns.name</i18n> *
                        </span>
                        <input type="text" class="four" ng-model="campaign.name" required>
                    </label>
                    <select class = "four" ng-model="campaign_type" ng-change="changeList()" ng-options="format.name_type for format in formatCheck">
                        <option value="" disabled selected> <i18n>[[lang.translate('crre.type.campaign')]] </i18n> </option>
                    </select>
                    <div class="row twelve">
                        <label class="row twelve vertical-spacing">
                        <span class="twelve">
                            <i18n>crre.campaigns.description</i18n>
                        </span>
                            <editor ng-model="campaign.description"></editor>
                        </label>
                    </div>
                </div>
            </div>
            <div class="twelve cell horizontal-spacing">
                <h2 style="margin: 25px 0 10px 0">
                    <i18n>crre.campaign.options</i18n>
                </h2>
                <div>
                    <div>
                        <span><i18n>crre.use_credit</i18n></span>
                        <select ng-model="campaign.use_credit" ng-options="credit.name for credit in creditFormat">
                        </select>
                    </div>
                    <label class="checkbox margin-top-14">
                        <input type="checkbox" ng-model="campaign.reassort"/>
                        <span><i18n>crre.campaign.reassort</i18n></span>
                        <i class="info-circle campaignTooltip" tooltip="crre.tag.reassort.auto"></i>
                    </label>
                </div>
                <div class="margin-top-14">
                    <span><i18n>crre.catalog.access</i18n></span>
                    <select ng-model="campaign.catalog" ng-options="article.name for article in articleFormat">
                        <option value="" disabled selected> [[lang.translate('crre.catalog.type')]] </option>
                    </select>
                </div>
                <div class="margin-top-14">
                    <label class="four vertical-spacing">
                        <label class="one checkbox">
                            <input type="checkbox"
                                   ng-model="campaign.automatic_close"/>
                            <span></span>
                        </label>
                        <span>
                            <i18n>crre.campaigns.date.automatisation</i18n>
                        </span>
                        <div class="vertical-spacing"
                             ng-show="campaign.automatic_close" style="padding-bottom: 55px">
                            <span class="four cell">
                            <i18n>crre.campaigns.date.start</i18n>
                        </span>
                            <div class="six cell">
                                <date-picker ng-model="campaign.start_date" class="cell six twelve-mobile " ></date-picker>
                            </div>
                            <span class="four cell">
                            <i18n>crre.campaigns.date.end</i18n>
                        </span>
                            <div class="six cell">
                                <date-picker ng-model="campaign.end_date" class="cell six twelve-mobile "></date-picker>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row horizontal-spacing" style="margin-bottom: -20px; padding-top: 30px;">
                <h2>
                    <i18n>crre.campaign.groups.choices</i18n>
                </h2>
            </div>
            <div class="three cell horizontal-spacing twelve-mobile">
                <h4 style="margin: 25px 0 10px 0">
                    <i18n>crre.campaign.groups.etab</i18n>
                    :
                </h4>
                <table class="twelve">
                    <div class="campaignCheckbox">
                        <label class = "checkbox">
                            <input type="checkbox" ng-model="allSelected" ng-change="selectStructures()"
                                   ng-disabled="othersSelected">
                            <span><i18n>crre.campaign.groups.etab.all</i18n></span>
                        </label>
                        <label class="checkbox" ng-repeat="group in structureFormat.slice(0,3) track by $index">
                            <input type="checkbox" ng-model="group.selected" ng-disabled="othersSelected">
                            <span>[[group.name]]</span>
                        </label>
                    </div>
                </table>
            </div>
            <div class="three cell horizontal-spacing twelve-mobile">
                <h4 style="margin: 25px 0 10px 0">
                    <i18n>crre.campaign.groups.pro</i18n>
                    :
                </h4>
                <table class="twelve">
                    <div class="campaignCheckbox">
                        <label class = "checkbox">
                            <input type="checkbox" ng-model="allProAndGenSelected" ng-change="selectProAndGenStructures()"
                                   ng-disabled="othersSelected">
                            <span><i18n>crre.female.all</i18n></span>
                        </label>
                        <label class="checkbox" ng-repeat="group in structureFormat.slice(3,6) track by $index ">
                            <input type="checkbox" ng-model="group.selected" ng-disabled="othersSelected">
                            <span><i18n>[[lang.translate(group.name)]]</i18n></span>
                        </label>
                    </div>
                </table>
            </div>
<!--
            TODO: requete back pour compter le nombre de regroupement permanent pour voir si il y en a des nouveaux
-->
            <div class="six cell horizontal-spacing twelve-mobile" ng-if="structureGroups.all.length > 9">
                <h4 style="margin: 25px 0 10px 0">
                    <i18n>crre.campaign.groups.others</i18n>
                    :
                </h4>
                <table class="twelve">
                    <div class="campaignCheckbox">
                        <label class="checkbox" ng-repeat="group in structureGroups.all.slice(11) track by $index ">
                            <input type="checkbox" ng-model="group.selected" ng-change="changeInOthersSelected(group.selected)">
                            <span>[[group.name]]</span>
                        </label>
                    </div>
                </table>
            </div>
            <div class="right-magnet warning" ng-show="!validCampaignForm(campaign)">
                <i18n>not.valid.campaign.form</i18n>
            </div>
            <div class="row">
                <div class="right-magnet">
                    <input type="button" class="cancel" ng-click="redirectTo('/campaigns')" i18n-value="cancel"/>
                    <input type="submit" class="button" ng-click="validCampaign(campaign)"
                           ng-disabled="!validCampaignForm(campaign)" i18n-value="validate"/>
                </div>
            </div>
        </article>
    </form>
</div>