<div ng-controller="campaignsController">
    <div workflow="crre.administrator">
        <input type="button" ng-click="openCampaignForm()" class="right-magnet twelve-mobile"
               i18n-value="crre.campaigns.add"/>
    </div>
    <div class="twelve cell manage-campaign campaign-list"  workflow="crre.administrator">
        <article class="twelve cell " ng-repeat="campaign in campaigns.all track by $index ">
            <div class="row">
                <div class="twelve cell" workflow="crre.administrator">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="campaign.selected"/>
                        <span></span>
                    </label>
                </div>
                <div class="eight cell twelve-mobile">
                    <h3>[[campaign.name]]</h3>
                    <p ng-bind-html="campaign.description"></p>
                    <label>
                        <i class="info-circle" style="margin-right: 10px;"></i>
                        <span class="font19"><i18n>crre.campaign.detail</i18n></span>
                    </label>
                    <div class="small-text" ng-if="campaign.type_name" style="padding-top: 10px;"><i18n class="bold-font-weight">crre.type.campaign</i18n> : <span ng-bind="lang.translate(campaign.type_name)"></span></div>
                    <div class="small-text"><i18n class="bold-font-weight">crre.purses</i18n> : <span ng-bind="lang.translate(campaign.use_credit)"></span></div>
                    <div class="small-text"><i18n class="bold-font-weight">crre.reassort</i18n> : <span ng-bind="lang.translate(campaign.reassort)"></span></div>
                    <div ng-if="!!campaign.catalog" class="small-text"><i18n class="bold-font-weight">crre.catalog</i18n> : <span ng-bind="lang.translate(campaign.catalog)"></span></div>
                    <div ng-if="!!!campaign.catalog" class="small-text"><i18n class="bold-font-weight">crre.catalog</i18n> : <i18n>crre.all.catalog</i18n></div>
                    <div class="small-text"><i18n class="bold-font-weight">crre.campaign.groups.etab</i18n> : <span ng-bind="formatStructureCampaign(campaign.groups)"></span></div>
                    <div ng-if="!!campaign.school" class="small-text"><i18n class="bold-font-weight">crre.campaign.groups.pro</i18n> : <span ng-bind="lang.translate(campaign.school)"></span></div>
                    <div ng-if="!!!campaign.school" class="small-text"><i18n class="bold-font-weight">crre.campaign.groups.pro</i18n> : <i18n>crre.all.etab</i18n></div>
                    <div class="small-text"><i18n class="bold-font-weight">nb_structures</i18n>[[campaign.nb_structures]]</div>
                </div>
            </div>
            <div class="row" workflow="crre.administrator">
                <div class="right-magnet">
                    <span class="horizontal-spacing cell"><i18n>crre.campaign.accessibility</i18n></span>
                    <switch-toggle ng-model="campaign.accessible" ng-change="updateAccessibility(campaign)"
                                   class="cell"></switch-toggle>
                </div>
            </div>
        </article>
    </div>

    <lightbox on-close="display.lightbox.campaign = false;"
              show="display.lightbox.campaign"
              workflow="crre.administrator">
        <container template="campaign.lightbox"></container>
    </lightbox>

    <lightbox on-close="display.lightbox.automaticCampaign = false;"
              show="display.lightbox.automaticCampaign"
              workflow="crre.administrator">
        <container template="campaign.lightbox.automaticCampaign"></container>
    </lightbox>


    <section class="toggle-buttons" ng-show="campaigns.selected.length > 0" workflow="crre.administrator">
        <div class="toggle">
            <div class="row">
                <button ng-click="openCampaignForm(campaigns.selected[0])" ng-show="campaigns.selected.length === 1">
                    <i18n>modify</i18n>
                </button>
                <button ng-click="openCampaignsDeletion()"><i18n>delete</i18n></button>
            </div>
        </div>
    </section>
</div>