<div class="twelve-mobile float tot-cards two">
    <h2 class="bold-font-weight center"><i18n>total.request</i18n></h2>
    <!--
                <div class="total-container" ng-if="campaign.nb_licences_consumable_total || campaign.nb_licences_total">
                    <div class="licences" ng-if="amountTotal.licence && campaign.nb_licences_total">
                        <i18n>crre.initial.licences</i18n>
                        <span ng-if="campaign.nb_licences_total || campaign.nb_licences_consumable_total"
                              ng-bind="campaign.nb_licences_total + campaign.nb_licences_consumable_total"></span>
                        <div class="small" ng-if="campaign.nb_licences_2de"><i18n>crre.second.class</i18n> : [[campaign.nb_licences_2de]]</div>
                        <div class="small" ng-if="campaign.nb_licences_1ere"><i18n>crre.premiere.class</i18n> : [[campaign.nb_licences_1ere]]</div>
                        <div class="small" ng-if="campaign.nb_licences_Tale"><i18n>crre.terminal.class</i18n> : [[campaign.nb_licences_Tale]]</div>
                        <div class="small" ng-if="campaign.nb_licences_2depro"><i18n>crre.second.pro.class</i18n> : [[campaign.nb_licences_2depro]]</div>
                        <div class="small" ng-if="campaign.nb_licences_1erepro"><i18n>crre.premiere.pro.class</i18n> : [[campaign.nb_licences_1erepro]]</div>
                        <div class="small" ng-if="campaign.nb_licences_Talepro"><i18n>crre.terminal.pro.class</i18n> : [[campaign.nb_licences_Talepro]]</div>
                        <div class="small" ng-if="campaign.nb_licences_cap1"><i18n>crre.first.cap.class</i18n> : [[campaign.nb_licences_cap1]]</div>
                        <div class="small" ng-if="campaign.nb_licences_cap2"><i18n>crre.second.cap.class</i18n> : [[campaign.nb_licences_cap2]]</div>
                        <div class="small" ng-if="campaign.nb_licences_cap3"><i18n>crre.third.cap.class</i18n> : [[campaign.nb_licences_cap3]]</div>
                        <div class="small" ng-if="campaign.nb_licences_bma1"><i18n>crre.first.bma.class</i18n> : [[campaign.nb_licences_bma1]]</div>
                        <div class="small" ng-if="campaign.nb_licences_bma2"><i18n>crre.second.bma.class</i18n> : [[campaign.nb_licences_bma2]]</div>
                        <div class="small"
                             ng-if="campaign.nb_licences_total - campaign.nb_licences_2de - campaign.nb_licences_1ere - campaign.nb_licences_Tale - campaign.nb_licences_2depro
                              - campaign.nb_licences_1erepro - campaign.nb_licences_Talepro - campaign.nb_licences_cap1 - campaign.nb_licences_cap2 - campaign.nb_licences_cap3 -
                              campaign.nb_licences_bma1 - campaign.nb_licences_bma2 !== 0">
                            <i18n>crre.licences.supp</i18n> :
                            [[campaign.nb_licences_total - campaign.nb_licences_2de - campaign.nb_licences_1ere - campaign.nb_licences_Tale]]
                        </div>
                        <div class="small" ng-if="campaign.nb_licences_consumable_total"><i18n>crre.consummables.licences</i18n> :
                            [[campaign.nb_licences_consumable_total]]
                        </div>
                    </div>
                    <div class="color-red">
                        <i18n>crre.remain.licences</i18n>
                        <h1 class="bold-font-weight-24 color-red no-margin-bottom">
                            [[campaign.nb_licences_available + campaign.nb_licences_consumable_available - amountTotal.licence - amountTotal.consumable_licence]]</h1>
                    </div>
                </div>
    -->
    <br ng-if="(vm.campaign.nb_licences_consumable_total || vm.campaign.nb_licences_total) &&
            (vm.campaign.initial_purse_amount || vm.campaign.consumable_initial_purse_amount)"/>
    <div class="total-container" ng-if="vm.campaign.initial_purse_amount || vm.campaign.consumable_initial_purse_amount">
        <div>
            <i18n>crre.consummed.licences</i18n>
            <h1 class="bold-font-weight-24" ng-bind="vm.totalSelectedItems()"></h1>
        </div>
        <div>
            <i18n>crre.total.in.euros</i18n>
            <h1 class="bold-font-weight-24">[[vm.totalSelectedPriceAll() | currency]]</h1>
        </div>
        <div class="licences" ng-if="vm.campaign.initial_purse_amount" style="margin: 10px 0 5px 0;">
            <span><i18n>crre.initial</i18n></span>
            <br>
            <span ng-bind="vm.campaign.initial_purse_amount | currency"></span>
        </div>
        <div class="color-red" ng-if="vm.campaign.initial_purse_amount">
            <span><i18n>crre.remained</i18n></span>
            <br>
            <h1 class="bold-font-weight-24 color-red no-margin-bottom">
                [[vm.campaign.purse_amount - vm.totalSelectedPrice() | currency]]
            </h1>
        </div>
        <div class="licences" ng-if="vm.campaign.consumable_initial_purse_amount" style="margin: 10px 0 5px 0;">
            <span><i18n>crre.initial.consumable</i18n></span>
            <br>
            <span ng-bind="vm.campaign.consumable_initial_purse_amount | currency"></span>
        </div>
        <div class="color-red" ng-if="vm.campaign.consumable_initial_purse_amount">
            <span><i18n>crre.remained.consumable</i18n></span>
            <h1 class="bold-font-weight-24 color-red no-margin-bottom">
                [[vm.campaign.consumable_purse_amount - vm.totalSelectedPriceConsumable() | currency]]
            </h1>
        </div>
    </div>
</div>