<div>
  <div class="row">
    <h1><i18n>crre.validator.confirm.order.title</i18n></h1>
    <div>
      <div class="mb-32">
        <i18n>crre.validator.confirm.order.message.1</i18n>
      </div>
      <div>
        <i18n>crre.validator.confirm.order.message.2</i18n>
        <textarea style="resize: none;" ng-model="vm.comment" auto-height placeholder="[[vm.lang.translate('crre.validator.confirm.optionnel')]]"></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <input type="submit" class="button right-magnet " ng-click="vm.confirmOrder()"
           i18n-value="Validate"/>
    <input type="button" class="cancel margin-right-10 right-magnet " ng-click="vm.cancelOrder()"
           i18n-value="cancel"/>
  </div>
</div>