<div ng-controller="manageOrderController">
    <div class="basket-list">
        <div class="row margin-top-20">
            <div class="cell min-width-date-picker margin-top-8 twelve-mobile">
                <i18n>from</i18n>
                &#58;&nbsp;
                <!-- start date -->
                <div class="date-picker-style">
                    <i class="diary-calendar"></i>
                    <date-picker
                            ng-model="filtersDate.startDate"
                            ng-change="filterByDate()"
                            class="input-date-picker-style">
                    </date-picker>
                </div>
                &nbsp;&nbsp;&nbsp;
                <i18n>to</i18n>
                &#58;&nbsp;
                <!-- end date -->
                <div class="date-picker-style">
                    <i class="diary-calendar"></i>
                    <date-picker
                            ng-model="filtersDate.endDate"
                            ng-change="filterByDate()"
                            class="input-date-picker-style">
                    </date-picker>
                </div>
            </div>
            <div class="cell two margin-top-6">
                <div class="search-bar order-search-bar">
                    <i class="search padding-5"></i>
                    <input class="twelve"
                           type="text"
                           ng-model="query_name"
                           ng-keyup="$event.keyCode == 13 ? searchByName(true) : null"
                           i18n-placeholder="search.filter.order">
                </div>
            </div>
            <div class="cell twelve-mobile right-magnet">
                <button class="right-magnet" ng-click="exportCSV()"><i18n>crre.orderEquipment.manage.exportCSV</i18n></button>
            </div>
        </div>
        <container template="order-list" class="crre-table" ng-controller="orderController"></container>
        <loader data-ng-show="loading" min-height="'250px'"></loader>
        <infinite-scroll scrolled="onScroll()" loading-mode="true"></infinite-scroll>
        <div ng-show="displayedBasketsOrders.length === 0 && !loading" class="centered">
            <div class="twelve cell centered-text" >
                <h3><i18n>crre.info.empty.tab</i18n></h3>
            </div>
            <br/>
            <div class="twelve cell centered-text vertical-spacing">
                <img class="four" src="/crre/public/img/PageTableauVide.svg" />
            </div>
        </div>
    </div>
</div>